@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*
==============================================
DESIGN TOKENS
==============================================
*/

:root {
  /* Cores */
  --color-background: hsl(222, 14%, 14%);
  --color-background-light: hsla(228, 12%, 10%, 1);
  --color-text: hsla(38, 70%, 95%, 1);
  --color-blue: hsl(220 100% 60% / 1);
  --color-button-text: hsla(38, 70%, 95%, 1);
  --color-button-primary-start: hsl(40, 55%, 50%);
  --color-button-primary-end: hsl(40, 55%, 55%);
  --color-button-secondary: hsla(0, 0%, 30%, 1);
  --color-button-secondary-hover: hsla(0, 0%, 40%, 1);
  --color-shadow-gold-light: hsla(51, 100%, 50%, 0.3);
  --color-shadow-gold-dark: hsla(51, 100%, 50%, 0.24);
  --color-shadow-black: hsla(0, 0%, 0%, 1);
  --color-shadow-white-inset: hsla(0, 0%, 100%, 0.3);
  --color-feature-block-dark: hsl(228, 12%, 8%);

  /* Tipografia */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Inter", system-ui, sans-serif;
  --font-weight-light: 250;
  --font-weight-normal: 300;
  --font-weight-semibold: 450;
  --font-weight-bold: 550;
  --line-height-base: 1.5;

  /* Espaçamento */
  --space-xxs: max(0.25em, 0.5cqw);
  --space-xs: max(0.5em, 1cqw);
  --space-s: max(1em, 3.4cqb);
  --space-m: max(1.5em, 3cqw);
  --space-l: max(2em, 4cqw);
  --space-xl: max(3em, 6cqw);
  --space-xxl: max(4em, 7cqw);

  /* Outros */
  --border-radius: clamp(1rem, 1.5cqw, 8rem);
  --border: 0.11cqw solid hsl(218 15% 16%);
  --transition-base: all 0.3s ease;

  /* Nota: Considerar o uso de clamp() para tipografia e espaçamento mais robustos no futuro. */
}

/*
==============================================
RESETS E ESTILOS BASE
==============================================
*/

/* Reset básico para consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--color-text);
}

main {
  position: relative;
  overflow: hidden;
}

/*
==============================================
TIPOGRAFIA
==============================================
*/

p {
  font-family: var(--font-secondary);
  font-size: max(0.77em, 1.14cqw);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-light);
  margin-bottom: 0.8cqw;
}

.subtitle {
  font-size: max(0.9em, 1.5cqw);
  font-weight: 250;
  line-height: 1.5;
  margin-bottom: var(--space-m);
}

.small-text {
  font-size: max(0.8em, 1.2cqw);
  opacity: 0.8;
  margin-top: 3cqw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: max(2.5em, 4cqw);
  margin-bottom: 1.6cqw;
}

h2 {
  font-size: max(2em, 3.4cqw);
  margin-bottom: 2cqb;
}

/*
==============================================
ELEMENTOS DE UI GLOBAIS
==============================================
*/

/* Estilos Globais de Links */
a {
  font-size: max(0.8em, 1vw);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  color: hsl(218 65% 60%);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

a::after {
  content: "";
}

.link-with-arrow::after {
  content: "→";
  margin-left: var(--space-xs);
  transition: transform 0.3s ease;
}

a:hover {
  color: var(--color-blue);
}

a:hover::after {
  transform: translateX(0.2em);
}

a:focus {
  outline: 2px solid var(--color-link);
  outline-offset: 2px;
}

/* Estilos Globais de Botões */
button {
  font-size: max(0.6rem, 1cqw);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-semibold);
  color: var(--color-button-text);
  border: 0.11cqw solid hsl(0, 0%, 100%, 0.1);
  border-radius: 0.7cqw;
  padding: 0.8cqw 1.8cqw 0.9cqw 1.8cqw;
  cursor: pointer;
  transition: var(--transition-base);
  width: max-content;
  text-transform: uppercase;
  text-shadow: 0 0cqw 0.5cqw hsla(0, 0%, 0%, 0.6);
}

/* Botão Padrão */
button.primary {
  background: linear-gradient(
    90deg,
    var(--color-button-primary-start) 41.04%,
    var(--color-button-primary-end) 77.78%
  );
}

button.primary:hover {
  box-shadow: 0 0 2cqw hsla(51, 100%, 50%, 0.2),
    0 0 2cqw hsla(51, 100%, 50%, 0.2), 0 0.1cqw 0.5cqw hsl(0, 0%, 0%, 0.5);
}

button.primary:focus {
  outline: 2px solid var(--color-button-primary-start);
  outline-offset: 2px;
}

/* Botão Secundário */
button.secondary {
  background: var(--color-button-secondary);
}

button.secondary:hover {
  background: var(--color-button-secondary-hover);
}

button.secondary:focus {
  outline: 2px solid var(--color-button-secondary);
  outline-offset: 2px;
}

/*
==============================================
LAYOUT
==============================================
*/

/* Padding geral para todas as seções */
section {
  padding: var(--space-xxl);
  position: relative;
}
.p0 {
  padding: 0;
}

.vector {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

@media (max-width: 960px) {
  :root {
    --space-xxl: clamp(1.1em, 6cqi, 8rem);
  }
  h3 {
    font-size: max(3em, 5cqw);
  }
  p {
    font-size: clamp(0.9em, 3cqi, 1.3rem);
  }
  a {
    font-size: clamp(1em, 5cqi, 1.3rem);
  }
  button {
    font-size: clamp(1rem, 3cqi, 1.2rem);
    border: 0.41cqw solid hsl(0, 0%, 100%, 0.1);
    border-radius: 1.4cqb;
    padding: clamp(0.9rem, 3cqw, 1rem);
    width: -webkit-fill-available;
  }
  .subtitle {
    font-size: clamp(1.1em, 3cqi, 1.4rem);
  }
}
