---
import BaseLayout from "../layouts/BaseLayout.astro";
import ComoFuncionaSection from "../components/ComoFuncionaSection.astro";
import CallToAction from "../components/CallToAction.astro";
import StandardCallToAction from "../components/StandardCallToAction.astro";
import SwiperComponentComoFunciona from "../components/SwiperComponentComoFunciona.astro";
import IntegrationsSectionComplete from "../components/IntegrationsSectionComplete.astro";
---

<BaseLayout
  title="Como Funciona - Lucre+"
  description="Descubra como a Lucre+ pode te ajudar a lucrar mais com um passo a passo simples e transparente. Conecte-se com as principais ferramentas do mercado e comece a escalar seu negócio."
>
  <script type="application/ld+json" slot="head">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Lucre+",
          "item": "https://lucre.com/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Como Funciona",
          "item": "https://lucre.com/comofunciona"
        }
      ]
    }
  </script>
  <main>
    <img
      src="/vectors/Vector1.svg"
      alt="Lucre+ Integrations"
      class="vector vector-1--2"
    />
    <ComoFuncionaSection
      mainTitle="Como funciona?"
      mainParagraph="Passo a passo para lucrar +"
    />
    <section class="comofunciona-section-feature-blocks-section">
      <h2>Conecte-se facilmente com as principais ferramentas do mercado</h2>
      <p class="subtitle">
        Conecte-se facilmente com as principais ferramentas do mercado
      </p>
      <SwiperComponentComoFunciona />
    </section>
    <CallToAction
      subtitle="Pare de deixar dinheiro na mesa!"
      title="Alavanque o seu negócio com as melhores taxas"
      buttonText="Lucre mais agora"
      buttonHref="https://api.whatsapp.com/send?phone=5512983010571"
      contentAlignment="left"
      backgroundImage="/image 36.webp"
    />
    <section class="p0">
      <img
        src="/vectors/Vector1.svg"
        alt="Lucre+ Integrations"
        class="vector vector-1"
      />
      <img
      src="/vectors/Vector5.svg"
      alt="Lucre+ Integrations"
      class="vector vector-5"
      />
      <IntegrationsSectionComplete />
    </section>
    <StandardCallToAction
    title="Pronto para maximizar seus lucros?"
    />
    <img
      src="/vectors/Vector3.svg"
      alt="Lucre+ Integrations"
      class="vector vector-3"
    />
  </main>
</BaseLayout>
<style>
  .vector-1 {
    top: 8%;
    left: 0%;
    width: 8vw;
    z-index: 10;
  }
  .vector-1--2 {
    top: 4%;
    right: 2%;
    width: 8vw;
    z-index: 10;
  }
  .vector-3 {
    bottom: -1%;
    left: 0%;
    width: 60vw;
    rotate: 180deg;
  }
  .vector-5 {
    bottom: -25%;
    right: 0;
    width: 20vw;
  }
  .comofunciona-section-feature-blocks-section {
    text-align: center;
    padding: 0 var(--space-xxl) var(--space-xxl);
  }
  .comofunciona-section-feature-blocks-section h2 {
    font-size: max(2em, 3.4cqw);
  }
  .comofunciona-section-feature-blocks-section .subtitle {
    font-size: max(1.2em, 1.2cqw);
    margin-bottom: 6cqb;
  }
  .integrations-section {
    padding: max(4em, 6cqw) var(--space-xxl);
    color: var(--color-button-text);
  }

  .integrations-section h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .integrations-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .integration-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px; /* Adjust as needed */
  }

  .logo-image {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .logo-vector {
    max-width: 100%;
    max-height: 100%;
  }

  .logo-block span {
    font-size: 0.9em;
    color: #333;
  }
  @media (max-width: 960px) {
    .comofunciona-section-feature-blocks-section {
      padding: 12cqb 0;
    }
  }
</style>
