---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Política de Cookies - Lucre+">
  <main>
    <h1>Política de Cookies</h1>
    <p><em>Versão atualizada em junho de 2025</em></p>

    <p>
      <strong
        >Olá! Ao visitar este site, alguns cookies poderão ser utilizados. Essa
        Política de Cookies esclarece detalhes sobre a utilização desses
        cookies, em especial, quais as categorias de cookies e respectivas
        finalidades. Por isso, leia com atenção as informações abaixo.</strong
      >
    </p>

    <p>
      Esta Política de Cookies íntegra os <a href="/termos-de-uso"
        >Termos de Uso da Lucre+ Pagamentos</a
      >. Você deve ler de forma atenta e cuidadosa as condições a seguir, pois
      elas contêm informações importantes.
    </p>

    <p>
      Se, em razão da utilização de cookies, esta Plataforma realizar o
      tratamento de dados pessoais, os termos da <a
        href="/politica-de-privacidade">Política de Privacidade</a
      > serão aplicados.
    </p>

    <p>
      Esta Política pode ser modificada a qualquer momento, por isso é
      importante que você constantemente revise os seus termos. Esta Política e
      suas respectivas atualizações prevalecem sobre quaisquer propostas,
      contratos, entendimentos anteriores e acordos, verbais ou escritos, que
      possam existir entre você e a Lucre+ Pagamentos, especialmente versando
      sobre a utilização de cookies.
    </p>

    <h2>Visão Geral</h2>

    <p>
      <strong>A.</strong> Esta Política de cookies estabelece (a) quais cookies são
      utilizados (b) para quais finalidades os cookies são utilizados e (c) como
      os Usuários podem gerenciar suas escolhas de configuração de cookies em seus
      navegadores. Esta Política de cookies se aplica ao uso ou acesso à Plataforma
      mediante o site lucremais.digital, lucremais.store, lucremais.app e seus subdomínios,
      bem como mediante outros sites ou interfaces nos quais a Lucre+ Pagamentos
      disponibilize seus recursos.
    </p>

    <p>
      <strong>B.</strong> Para facilitar a leitura desta Política, oferecemos um
      Glossário, que relaciona o significado das expressões iniciadas por letras
      maiúsculas nos Termos da Lucre+ Pagamentos, bem como nesta ou em outras Políticas
      da Lucre+ Pagamentos. Além disso, é importante você compreender o significado
      específico da expressão a seguir, utilizada no contexto desta Política ou em
      outras Políticas da Lucre+ sem iniciais maiúsculas:
    </p>

    <p>
      “Cookies”, no singular ou no plural, são pequenos arquivos (geralmente
      contendo texto) que são armazenados em um determinado equipamento de
      acesso para registrar preferências e outras informações. A Plataforma pode
      utilizar Cookies definidos por nós, chamados de Cookies primários e/ou a
      Plataforma pode utilizar Cookies de terceiros, que são cookies de um
      domínio diferente do domínio da Plataforma. Os Cookies de terceiros nos
      permitem analisar como a Plataforma está sendo utilizada, medir o número
      de visitantes e exibir publicidade.
    </p>

    <h2>1. QUE TIPOS DE COOKIES UTILIZAMOS?</h2>

    <p>
      Existem dois tipos de Cookies que podem ser utilizados pela Lucre+
      Pagamentos, considerando a sua duração:
    </p>

    <h3>1.1. Cookies Permanentes:</h3>
    <p>
      São cookies que ficam armazenados pelo navegador nos equipamentos de
      acesso do Usuário, por um determinado período de tempo, e que são
      utilizados sempre que você faz uma nova visita a um dos nossos sites. São
      utilizados, geralmente, para direcionar a navegação aos seus interesses,
      permitindo-nos prestar um serviço mais personalizado.
    </p>

    <h3>1.2. Cookies de Sessão:</h3>
    <p>
      São cookies temporários que permanecem no arquivo de cookies do seu
      navegador até que você encerre a sessão de navegação. A informação
      armazenada nesses Cookies geralmente é utilizada para armazenar suas
      preferências temporariamente.
    </p>

    <h2>2. CATEGORIAS DE COOKIES</h2>

    <p>
      Existem duas categorias de Cookies que podem ser utilizados pela Lucre+
      Pagamentos:
    </p>

    <h3>2.1. Cookies essenciais:</h3>
    <p>
      Esses Cookies são necessários para o funcionamento do site e não podem ser
      desativados em nossos sistemas. Eles geralmente são definidos apenas em
      resposta a ações feitas por você que equivalem a uma solicitação de
      serviços, como definir suas preferências de privacidade, fazer login ou
      preencher formulários. Você pode configurar seu navegador para bloquear ou
      alertá-lo sobre esses cookies, mas isso pode afetar a disponibilidade e a
      funcionalidade de algumas partes do site. Abaixo estão as subcategorias de
      Cookies essenciais, são eles:
    </p>

    <ol>
      <li>
        <strong>Preferenciais:</strong> Usamos esses cookies para permitir que a
        Plataforma lembre das informações que mudam a forma como o site se comporta
        ou é exibido (por exemplo, idioma escolhido).
      </li>
      <li>
        <strong>Segurança:</strong> Usamos esses Cookies para permitir a verificação
        da identidade do Usuário, para evitar a utilização fraudulenta das credenciais
        de login e proteger os dados do Usuário de uso não autorizado por terceiros.
      </li>
      <li>
        <strong>Analíticos:</strong> Para oferecer a você a melhor experiência de
        navegação possível, é importante entendermos como os visitantes usam nosso
        site. Os dados coletados por esses Cookies nos ajudam a conseguir isso e
        são agregados para um resultado estatístico.
      </li>
      <li>
        <strong>Performance:</strong> Permite que, por meio do armazenamento de arquivos
        nos dispositivos dos visitantes dos websites, seja registrado os cliques
        em links, anúncios e transações comerciais, como vendas e leads para identificar
        uma transação efetivada por um Comprador por meio de um link recebido de
        Vendedor e/ou Afiliado, permitindo assim o comissionamento da transação concretizada.
      </li>
    </ol>

    <h3>2.2. Cookies não essenciais:</h3>
    <p>
      Estes Cookies não são necessários para o funcionamento do site e podem ser
      gerenciados pelo Usuário. Caso estes Cookies não sejam ativados pelo
      Usuário, a Plataforma ficará menos funcional, mas o uso da Plataforma pelo
      Usuário não será impedido. Abaixo a subcategoria para os Cookies
      não-essenciais:
    </p>

    <ol>
      <li>
        <strong>Publicidade:</strong> Estes cookies são usados ​​para ajudar a garantir
        que você esteja recebendo as mensagens de marketing mais relevantes. Por
        exemplo, esses Cookies são usados ​​para ajudar a exibir anúncios com base
        em seus interesses, garantir que esses anúncios sejam exibidos corretamente
        e evitar que o mesmo anúncio seja exibido repetidamente.
      </li>
    </ol>

    <h2>3. COMO GERENCIAR OS COOKIES?</h2>

    <p>
      <strong>Cookies essenciais:</strong> Estes cookies são necessários para o funcionamento
      da Plataforma e você não pode gerenciá-los. Mas, após o uso da Plataforma,
      você pode eliminar os Cookies necessários seguindo as instruções do navegador
      utilizado.
    </p>

    <p>
      <strong>Cookies não essenciais:</strong> Estes Cookies podem ser gerenciados
      por você através das configurações disponíveis no navegador utilizado.
    </p>

    <h2>4. COOKIES EM SITES DE TERCEIROS</h2>

    <p>
      Ao utilizar a Plataforma, você poderá ser redirecionado para sites de
      terceiros. Esses sites poderão utilizar seus próprios Cookies. A Hotmart
      não tem controle sobre o uso destes Cookies.
    </p>

    <p>
      Ressalta-se que o terceiro pode se tratar de Criador da Plataforma. Nesse
      sentido, o Criador é integralmente responsável por cumprir as leis
      aplicáveis de proteção de dados pessoais dando transparência aos seus
      usuários finais sobre a utilização de cookies em seus sites.
    </p>

    <h2>5. DÚVIDAS</h2>

    <p>
      Para mais informações sobre a Política de Cookies, entre em contato
      conosco pelos contatos no rodapé da página.
    </p>
  </main>
</BaseLayout>

<style>
  main {
    margin: 5cqb auto;
    padding: var(--space-xxl);
    line-height: 1.6;
  }
  h1,
  h2,
  h3 {
    margin-top: 6cqb;
    margin-bottom: 2cqb;
  }
  h2 {
    font-size: max(2em, 2cqw);
  }
  p,
  ol {
    margin-bottom: 1rem;
  }
  ol {
    padding-left: 2rem;
  }
  a {
    color: var(--accent-color, #007bff); /* Fallback color */
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
