---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Política de Privacidade - Lucre+">
  <main>
    <h1>Política de Privacidade</h1>
    <p><em>Versão atualizada em junho de 2025</em></p>

    <p>
      <strong
        >A Lucre+ Pagamentos se preocupa com sua privacidade e têm o compromisso
        de preservá-la. O tratamento de dados pessoais relacionados a sua
        utilização dos serviços prestados pela Lucre+ Pagamentos está descrito
        nesta Política de Privacidade, que deve ser lida em conjunto com os
        <a href="/termos-de-uso">Termos de Uso</a> da Lucre+ Pagamentos.</strong
      >
    </p>

    <p>
      Esta Política pode ser modificada a qualquer momento, por isso é
      importante que você constantemente consulte os seus termos. Quando
      alterações substanciais forem realizadas a esta Política, você será
      informado por e-mail caso seja um usuário cadastrado na Plataforma da
      Hotmart ou nos serviços prestados pelas Lucre+ Pagamentos. Esta Política e
      suas respectivas atualizações prevalecem sobre quaisquer propostas,
      contratos, entendimentos anteriores e acordos, verbais ou escritos, que
      possam existir entre você e a Lucre +, especialmente versando sobre
      privacidade ou dados pessoais.
    </p>

    <h2>Sumário</h2>
    <ol>
      <li><a href="#visao-geral">Visão Geral</a></li>
      <li>
        <a href="#dados-pessoais">DADOS PESSOAIS TRATADOS PELA LUCRE+ PAGAMENTOS</a>
      </li>
      <li>
        <a href="#finalidades">QUAIS AS FINALIDADES DE TRATAMENTO DOS DADOS PESSOAIS</a>
      </li>
      <li><a href="#bases-legais">BASES LEGAIS DE TRATAMENTO</a></li>
      <li>
        <a href="#dados-em-nome-de-terceiros"
          >DADOS PESSOAIS TRATADOS PELA LUCRE+ PAGAMENTOS EM NOME DE TERCEIROS</a
        >
      </li>
      <li>
        <a href="#retencao">PERÍODO DE RETENÇÃO DOS DADOS PESSOAIS</a>
      </li>
      <li>
        <a href="#compartilhamento">COMPARTILHAMENTO DOS DADOS PESSOAIS</a>
      </li>
      <li>
        <a href="#integracoes">INTEGRAÇÕES E TERCEIROS PARCEIROS</a>
      </li>
      <li><a href="#transferencias">TRANSFERÊNCIAS INTERNACIONAIS</a></li>
      <li>
        <a href="#direitos">DIREITOS COM RELAÇÃO AOS SEUS DADOS PESSOAIS</a>
      </li>
      <li><a href="#seguranca">SEGURANÇA</a></li>
      <li>
        <a href="#menores">TRATAMENTO DE DADOS PESSOAIS DE MENORES</a>
      </li>
      <li><a href="#contato">INFORMAÇÕES DE CONTATO</a></li>
    </ol>

    <h2 id="visao-geral">Visão Geral</h2>

    <p>
      <strong>A.</strong> Esta Política de Privacidade estabelece as regras sobre
      como e para quais finalidades seus dados pessoais podem ser tratados pela
      Lucre+ Pagamentos, com quem esses dados podem ou não ser compartilhados, e
      como os Usuários podem gerenciar seus dados pessoais. Ela se aplica ao uso
      ou acesso à Plataforma ou demais serviços ofertados pela Lucre+ Pagamentos
      mediante quaisquer de seus sites (incluindo, mas não se limitando a,
      lucremais.digital, lucremais.store e lucremais.app) e seus subdomínios,
      bem como mediante outros sites, interfaces ou aplicativos nos quais a
      Lucre+ Pagamentos disponibilize seus recursos, inclusive seus aplicativos
      de celular, tablet ou de outros dispositivos eletrônicos.
    </p>

    <p>
      <strong>B.</strong> Para facilitar a leitura desta Política, oferecemos um
      <a href="https://hotmart.com/pt-br/legal/glossario">Glossário</a>, que
      relaciona o significado das expressões iniciadas por letras maiúsculas nos
      Termos da Lucre+, bem como nesta ou em outras Políticas da Lucre+. Além
      disso, é importante você compreender o significado específico das
      expressões a seguir, utilizadas no contexto da proteção à privacidade e
      grafadas nos Termos, nesta Política ou em outras Políticas da Lucre+
      Pagamentos sem iniciais maiúsculas:
    </p>

    <p>
      “Dados pessoais”, no singular ou no plural, significa qualquer informação
      que identifique o Usuário ou que torne possível a sua identificação. Logo,
      por mais genérico que isso possa parecer, um dado pessoal pode ser
      qualquer informação que identifique você diretamente ou qualquer
      informação que funcione como uma peça no quebra-cabeça que leve à sua
      identificação.
    </p>

    <p>
      “Tratamento”, assim como o verbo “tratar”, significa qualquer operação
      realizada com dados pessoais, como as que se referem a coleta, produção,
      recepção, classificação, utilização, acesso, reprodução, transmissão,
      distribuição, processamento, arquivamento, armazenamento, eliminação,
      avaliação, controle, modificação, comunicação, transferência, difusão ou
      extração.
    </p>

    <p>
      “Dados de conta do Usuário”: significa dados relativos ao Usuário que são
      necessários à prestação dos serviços ofertados pela Lucre+ Pagamentos.
    </p>

    <h2 id="dados-pessoais">
      1. DADOS PESSOAIS TRATADOS PELA LUCRE+ PAGAMENTOS
    </h2>

    <p>
      Dados Pessoais. Os dados pessoais tratados pelas Lucre+ Pagamentos pode
      depender do tipo de interação do Usuário com a Plataforma, sendo que estes
      dados podem ser coletados diretamente do Usuário, obtidos através de
      terceiros ou coletados automaticamente.
    </p>

    <p>
      Os dados pessoais podem envolver, exemplificativamente: (a) informações
      cadastrais, como e-mail, nome completo, endereço, telefone, celular,
      documentos de identificação e foto de perfil; e (b) informações
      bancárias, como nome da instituição financeira na qual o Usuário possui
      conta bancária, número da conta, tipo de conta, agência, os seis primeiros
      e os últimos quatro dígitos do cartão de crédito, incluindo nome do
      titular.
    </p>

    <p>
      Abaixo estão listados os dados pessoais que são coletados pela Lucre+
      Pagamentos, apresentados em categorias e formas de coletas distintas para
      facilitar a sua compreensão.
    </p>

    <h3>1.1. Dados Pessoais coletados diretamente do Usuário.</h3>
    <p>
      A Lucre+ Pagamentos pode coletar dados pessoais diretamente de você,
      quando você, por exemplo, cria uma conta, inicia um processo de compra
      diretamente via checkout e/ou interage com a Lucre+ Pagametnos inclusive
      por nosso chat.
    </p>

    <h3>1.2. Campos opcionais.</h3>
    <p>
      A Plataforma disponibiliza certos campos de preenchimento opcional. Esses
      campos estão destacados como opcionais e têm a finalidade de melhorar a
      personalização do conteúdo disponibilizado ao Usuário.
    </p>

    <h3>1.3. Dados públicos.</h3>
    <p>
      a Lucre+ Pagamentos consideram alguns dados pessoais como públicos, porque
      podem ser vistos por qualquer pessoa, dentro e fora da Plataforma,
      inclusive se essa pessoa não tiver uma conta na Plataforma. São
      considerados dados públicos as informações que você inserir nos campos
      destacados com o aviso “dados públicos”. Você, outras pessoas que usam a
      Plataforma e as própria Lucre+ Pagamentos podem fornecer acesso ou enviar
      dados públicos para qualquer pessoa dentro e fora da Plataforma. É
      possível também visualizar, acessar, compartilhar novamente ou baixar
      dados públicos por meio de ferramentas de terceiros, como mecanismos de
      pesquisa, APIs e mídia offline, ou por meio de aplicativos, sites e outros
      Serviços de Terceiros.
    </p>

    <h3>1.4. Dados pessoais obtidos de terceiros.</h3>
    <p>
      a Lucre+ Pagamentos podem ter acesso a determinados dados pessoais por
      intermédio de terceiros, sejam eles informações cadastrais ou bancárias.
      Isso acontece, por exemplo, quando, em razão de cumprimento de obrigação
      legal ou regulatória, a Lucre+ Pagamentos consultar bancos de dados
      mantidos por terceiros que viabilizem a análise de restrições creditícias,
      análises antifraude e demais análises de gestão de risco integrados à
      Plataforma. A Lucre+ Pagamentos pode também ter acesso a informações
      cadastrais por meio de terceiros para inscrição em eventos, pesquisas,
      campanhas publicitárias e demais atividades organizadas por esses
      terceiros, cuja atividade esteja contratualmente vinculada à Lucre+
      Pagamentos.
    </p>

    <h3>1.5. Dados Pessoais coletados automaticamente ao acessar a Plataforma.</h3>
    <p>
      Dados pessoais são coletados automaticamente quando você acessa a
      Plataforma, mesmo se você não tiver conta na Plataforma. Essas informações
      podem incluir as exemplificadas abaixo.
    </p>

    <h4>1.5.1. Informações de transação de pagamento:</h4>
    <p>
      instrumento de pagamento usado; data e hora da transação; valor do
      pagamento; data de vencimento do instrumento de pagamento; código postal
      de cobrança; endereço e outros detalhes relacionados à transação de
      pagamento.
    </p>

    <h4>1.5.2. Informações de acesso ou uso:</h4>
    <p>
      páginas e conteúdo que você visualiza; buscas por anúncios; frequência de
      utilização da Plataforma; informação sobre o navegador; dados de conexão;
      histórico de compras e histórico de navegação.
    </p>

    <h4>1.5.3. Dados de log e informações do dispositivo:</h4>
    <p>
      detalhes sobre como você acessou e usou a Plataforma (incluindo links
      acessados); endereço de IP; datas e horários de acesso; informações de
      hardware e software; informações do dispositivo; informações de eventos do
      dispositivo; identificadores exclusivos; dados de falha; dados de cookies,
      pixel e tecnologias semelhantes (vide
      <a href="/politica-de-cookies">Política de Cookies</a>), e as páginas que
      você visualizou ou interagiu antes e depois de acessar ou usar a
      Plataforma.
    </p>

    <h3>1.6. Informações de pagamento.</h3>
    <p>
      Nós utilizamos gateways de pagamentos de terceiros para processar os
      pagamentos realizados pela Plataforma. Para pagamentos processados pelos
      gateways de pagamento nativos da Lucre+ terceiros nos fornecem informações
      relacionadas ao status de pagamento da sua conta. Após cada compra
      realizada receberemos determinadas informações relacionadas aos seus
      pagamentos, incluindo o tipo de seu cartão de pagamento e os seus últimos
      4 dígitos, seu código postal, país de origem, data de expiração, e o seu
      endereço de e-mail associado com o tipo de pagamento. Além disso,
      coletamos certas informações pessoais para fins tributários, que podem
      incluir o seu nome completo, endereço e número de registro. Nossos
      gateways de pagamento terceirizados são independentes e possuem suas
      próprias políticas de privacidade. Para informações adicionais sobre como
      os seus dados de pagamento são processados e armazenados, nós recomendamos
      que você analise as políticas de privacidade dos gateways de pagamento.
    </p>

    <h2 id="finalidades">
      2. QUAIS AS FINALIDADES DE TRATAMENTO DOS DADOS PESSOAIS
    </h2>

    <h3>2.1. Finalidades do Tratamento dos Dados Pessoais do Usuário.</h3>
    <p>
      A Lucre+ Pagamentos pode utilizar os dados pessoais para as seguintes
      finalidades:
    </p>

    <h4>2.1.1. Fornecer e desenvolver a Plataforma:</h4>
    <ul>
      <li>Vincular sua conta na Plataforma com redes sociais terceiras</li>
      <li>
        Personalizar a Plataforma de acordo com a experiência de navegação
      </li>
      <li>
        Realizar análises, pesquisas e estudos relacionados ao comportamento,
        interesse e demografia
      </li>
      <li>Melhorar a Plataforma</li>
      <li>Arquivar histórico de compra</li>
      <li>Atualizar cadastro</li>
      <li>Enviar mensagens, atualizações e notificações da conta</li>
      <li>Realizar atividades de suporte ao Usuário</li>
      <li>
        Treinar sistemas de Inteligência Artificial construídos pela Lucre+
        Pagamentos ou por terceiros, utilizando-se apenas e unicamente dados
        cadastrais dos Usuários
      </li>
    </ul>

    <h4>2.1.2. Fornecer e otimizar as atividades de publicidade e marketing</h4>
    <ul>
      <li>Realizar cadastro em eventos</li>
      <li>Enviar newsletter</li>
      <li>Enviar comunicações via e-mail, SMS ou gravações telefônicas</li>
      <li>Enviar materiais educativos ou e-books</li>
      <li>Realizar campanhas de mídia com foco em publicidade e promoções</li>
      <li>
        Enviar, manualmente, listas com os veículos de mídia (Facebook e Google)
      </li>
      <li>
        Enviar comunicação, tais como e-mail marketing, remarketing e outras
        campanhas de publicidade nos canais de mídia
      </li>
      <li>
        Analisar o comportamento de navegação para otimização da Plataforma e
        oferta de produtos e serviços
      </li>
    </ul>

    <h4>2.1.3. Viabilizar os Serviços de Pagamento</h4>
    <ul>
      <li>
        Realizar comunicação ligada ao pagamento, como, por exemplo, envio de
        e-mails transacionais
      </li>
      <li>Participar do arranjo com as bandeiras de cartão</li>
      <li>Credenciar e emitir instrumento de pagamento</li>
      <li>Gerir conta de pagamento</li>
      <li>Executar remessa de fundos</li>
      <li>
        Disponibilizar ferramentas que viabilizem ao Usuário uma melhor
        experiência no checkout
      </li>
    </ul>

    <h4>2.1.4. Manter um ambiente seguro</h4>
    <ul>
      <li>Realizar autenticação junto à Plataforma</li>
      <li>
        Verificar autenticidade dos dados e documentos fornecidos, inclusive
        mediante tratamento e verificação cruzada
      </li>
      <li>Enviar comunicados</li>
      <li>
        Realizar atividades de análise de prevenção a fraudes, incidentes de
        segurança e abusos na Plataforma
      </li>
      <li>Verificação de cadastro</li>
      <li>Verificação de conteúdo</li>
    </ul>

    <h3>2.1.5. Finalidades do Tratamento dos Dados Pessoais de Visitante.</h3>
    <p>
      Podemos coletar dados pessoais de visitantes da Plataforma para as
      seguintes finalidades:
    </p>
    <ul>
      <li>Campanhas de mídia com foco em publicidade e promoções</li>
      <li>
        Enviar comunicação, tais como e-mail marketing, remarketing e outras
        campanhas de publicidade nos canais de mídia
      </li>
      <li>Analisar seu comportamento de navegação na Plataforma</li>
      <li>Realizar cadastro em eventos</li>
      <li>Enviar newsletter</li>
      <li>Enviar comunicações via e-mail, SMS ou gravações telefônicas</li>
      <li>Enviar materiais educativos ou e-books</li>
    </ul>

    <h2 id="bases-legais">3. BASES LEGAIS DE TRATAMENTO</h2>

    <h3>3.1. Bases Legais.</h3>
    <p>
      O tratamento de dados pessoais realizado pela Lucre+ Pagamentos é sempre
      fundamentado em uma base legal prevista nas legislações aplicáveis. As
      bases legais utilizadas podem variar a depender do contexto de tratamento,
      e incluem as seguintes:
    </p>

    <h4>3.1.1. Consentimento.</h4>
    <p>
      Quando o Usuário manifestamente aceita o tratamento de dados pessoais,
      como, por exemplo, quando concorda com o recebimento de comunicados
      publicitários ou pesquisas. Esse consentimento pode ser revogado a
      qualquer momento pelo Usuário.
    </p>

    <h4>3.1.2. Cumprimento de obrigação legal ou regulatória.</h4>
    <p>
      Quando a Lucre+ Pagamentos é obrigada a realizar o tratamento de dados
      pessoais em razão de determinação legal ou regulatória, como, por exemplo,
      quando armazena registros de acesso para fins de conformidade com
      legislações sobre prevenção à lavagem de dinheiro.
    </p>

    <h4>3.1.3. Execução do Contrato ou procedimentos relacionados ao Contrato.</h4>
    <p>
      Quando o tratamento de dados pessoais é necessário para a execução de um
      contrato firmado entre a Lucre+ Pagamentos e o Usuário, ou quando
      necessário para procedimentos preliminares ao contrato, como, por exemplo,
      quando precisamos tratar seus dados de pagamento no momento em que você
      realiza uma compra na Plataforma.
    </p>

    <h4>
      3.1.4. Exercício regular de direitos em processo judicial, administrativo
      ou arbitral.
    </h4>
    <p>
      Quando houver a necessidade de tratamento de dados pessoais em razão de
      ação judicial, procedimento administrativo ou arbitral.
    </p>

    <h4>3.1.5. Legítimo interesse.</h4>
    <p>
      Quando A Lucre+ Pagamentos decide prosseguir com o tratamento dos dados
      pessoais após análise criteriosa envolvendo a avaliação da finalidade e
      necessidade do tratamento ao Usuário e da expectativa do Usuário quanto ao
      tratamento dos Dados pessoais. Essa base legal é utilizada quando, por
      exemplo, a Lucre+ envia uma newsletter relacionada aos interesses do
      Usuário, considerando a sua interação com a Plataforma, para auxiliar no
      apoio e promoção das atividades das da Lucre+ Pagamentos. Nesse caso, a
      Lucre+ Pagamentos sempre viabiliza ao Usuário a opção de cancelar o
      recebimento dessas comunicações.
    </p>

    <h2 id="dados-em-nome-de-terceiros">
      4. DADOS PESSOAIS TRATADOS PELA LUCRE+ PAGAMENTOS EM NOME DE TERCEIROS
    </h2>

    <h3>4.1. Tratamento de Dados Pessoais a Pedido de Terceiros.</h3>
    <p>
      Existem dados pessoais que são tratados pela Lucre+ Pagamentos a pedido de
      terceiros. A Lucre+ Pagamentos realiza o tratamento desses dados pessoais
      seguindo regras formalizadas com esses terceiros por meio de contratos
      escritos. Por exemplo, o vendedor pode solicitar, através da Plataforma,
      dados pessoais adicionais do Comprador . Os tipos de Dados do Criador
      podem variar a depender da orientação específica do Vendedor.
    </p>

    <h3>4.2. Responsabilidade pelo Tratamento de Dados Pessoais por Terceiros.</h3>
    <p>
      Os terceiros referidos nos itens anteriores também são agentes de
      tratamento responsáveis pelos dados pessoais no contexto do oferecimento
      de seus produtos e serviços. Em especial, os terceiros podem ser os
      vendedores cujas responsabilidades e atribuições são estabelecidas no
      Termo de Uso na parte referente a Tratamento de Dados Pessoais.
    </p>

    <h2 id="retencao">5. PERÍODO DE RETENÇÃO DOS DADOS PESSOAIS</h2>

    <h3>5.1. Período de Tratamento.</h3>
    <p>
      Os dados pessoais são tratados pela Lucre+ Pagamentos até que pelo menos
      uma das hipóteses abaixo descritas seja atingida. São elas:
    </p>
    <ul>
      <li>Alcance da finalidade de tratamento.</li>
      <li>
        Os dados pessoais deixarem de ser necessários ou pertinentes ao alcance
        da finalidade específica almejada.
      </li>
      <li>Término do Contrato com o Usuário, seja qual for o motivo.</li>
      <li>
        Exercício do direito de revogação do consentimento pelo Usuário, nas
        hipóteses que o tratamento de dados pessoais foi realizado com
        fundamento nessa base legal.
      </li>
      <li>
        Eventual penalização aplicada pelo órgão responsável por zelar,
        implementar e fiscalizar o cumprimento da legislação aplicável, ou por
        demais órgãos competentes.
      </li>
    </ul>

    <h3>5.2. Conservação dos Dados Pessoais.</h3>
    <p>
      Em determinadas situações, a Lucre+ Pagamentos pode conservar
      residualmente os dados pessoais mesmo após as hipóteses de término de
      tratamento dos dados pessoais, em virtude de cumprimento de obrigação
      legal ou regulatória, ou ainda em circunstâncias em que haja uma finalidade
      legítima da Lucre+ Pagamentos. Nesses casos, os dados pessoais serão
      armazenados em local seguro com acesso restrito e pelo tempo necessário ao
      cumprimento da obrigação legal ou regulatória, ou ao término da finalidade
      legítima da Lucre+ Pagamentos.
    </p>

    <h4>5.2.1.</h4>
    <p>
      Os períodos de conservação dos dados pessoais são diferentes e dependem do
      tipo de informação e dos objetivos para os quais utilizamos a informação.
      Para mais detalhes sobre o período de retenção de uma determinada
      categoria de dados pessoais, por favor entre em contato conosco.
    </p>

    <h2 id="compartilhamento">6. COMPARTILHAMENTO DOS DADOS PESSOAIS</h2>

    <h3>6.1.</h3>
    <p>
      a Lucre+ Pagamentos apenas compartilha dados pessoais com terceiros nas
      circunstâncias descritas abaixo. Esses terceiros celebram contrato por
      escrito com a Lucre+ Pagamentos e estão cientes das suas responsabilidades
      em cada etapa do tratamento, principalmente do dever de implementar
      medidas de segurança que atendam às exigências do contrato e das
      legislações aplicáveis. A Lucre+ Pagamentos não vende dados pessoais.
    </p>

    <h4>6.1.1. Consentimento do Usuário.</h4>
    <p>
      Quando você dá seu consentimento, compartilhamos suas informações
      conforme descrito no momento do consentimento – como, por exemplo, ao
      autorizar o envio de dados pessoais a terceiros para viabilizar
      participação em eventos ou cursos.
    </p>

    <h4>6.1.2. Cumprimento da lei, prevenção de danos e segurança.</h4>
    <p>
      Quando há necessidade de compartilhamento de dados pessoais com terceiros
      a fim de (a) prevenir fraudes (como, por exemplo, análises de risco de
      lavagem de dinheiro), o que pode envolver decisões automatizadas; (b)
      verificar lista de Usuários com restrições; (c) autenticar documentação
      encaminhada; (d) possibilitar atendimento de suporte; (e) evitar
      atividades ilegais; (f) proceder acerca de disputas entre Usuários; (g)
      proceder acerca de investigações internas relativas a qualquer conduta que
      possa violar as regras dos Termos ou das Políticas da Lucre+ Pagamentos.
    </p>

    <h4>6.1.2.1.</h4>
    <p>
      Você concorda e autoriza que a Lucre+ Pagamentos realize o tratamento,
      armazenamento e compartilhamento dos seus dados pessoais, para fins
      subsidiar procedimentos destinados à controles e prevenção de fraudes, em
      conformidade com as diretrizes estabelecidas pelas autoridades
      competentes.
    </p>

    <h4>6.1.3. Serviços de Pagamentos.</h4>
    <p>
      Os dados pessoais também são compartilhados com terceiros quando o
      Usuário, de alguma forma, faz uso dos Serviços de Pagmento. Os dados
      pessoais, incluindo o número do cartão, serão compartilhados com a
      bandeira do cartão de crédito e com a instituição de pagamento parceira da
      Lucre+ Pagamentos. Esse compartilhamento tem como finalidade processar o
      pagamento, disponibilizar os serviços de cartão, prevenir, detectar e
      investigar eventuais fraudes ou listas de restrições, facilitação na
      resolução de disputas envolvendo reembolso ou chargeback.
    </p>

    <h4>6.1.4. Prestadores de Serviços.</h4>
    <p>
      Seus dados pessoais podem ser compartilhados com terceiros envolvidos nas
      atividades de assessoria financeira, contábil, jurídica, atividades sem
      fins lucrativos e potenciais investidores, bem como terceiros envolvidos
      na prestação de backup de dados, provedores de serviços de computação em
      nuvem ou para realizar estudos analíticos.
    </p>

    <h4>6.1.5. Compartilhamento de Informações entre Usuários.</h4>
    <p>
      Quando você compra de vendedor, a Lucre+ Pagamentos compartilharão certas
      informações com o Criador para permitir que o vendedor forneça os serviços
      a você. Essas informações incluem: (a) informações da conta, como seu nome
      e endereço de e-mail; (b) informações de pagamento, como o valor pago, seu
      endereço e outras informações de cobrança, mas nunca o número completo do
      seu cartão de crédito; (c) seu endereço IP.
    </p>

    <h4>6.1.7. Com Serviços Integrados.</h4>
    <p>
      Quando o Usuário decide integrar serviços de terceiros, seus dados
      pessoais serão compartilhados com esses terceiros. Recomendamos que você
      leia os termos de uso e políticas de privacidade desses terceiros para
      compreender como eles coletam, usam e compartilham seus dados pessoais.
    </p>

    <h4>6.1.8. Com Parceiros de Negócio.</h4>
    <p>
      A Lucre+ Pagamentos poderá realizar parcerias com terceiros para oferecer
      eventos, promoções, concursos, e outros programas. Para participar nessas
      ofertas, você pode ser solicitado a fornecer o seu endereço de e-mail e
      outros dados pessoais.
    </p>

    <h4>6.1.9. Com Anunciantes e Provedores de Dados Analíticos.</h4>
    <p>
      Podemos compartilhar os seus Dados Pessoais com anunciantes, redes de
      anúncios, e provedores de dados analíticos por meio de cookies ou outras
      tecnologias.
    </p>

    <h4>6.1.10. Com Autoridades Governamentais, Policiais ou o Poder Judiciário.</h4>
    <p>
      A Lucre+ Pagamentos pode ser obrigada a compartilhar seus dados pessoais
      com autoridades governamentais, policiais ou com o Poder Judiciário,
      sempre que for necessário para atender uma ordem judicial ou solicitação
      de respectiva autoridade.
    </p>

    <h2 id="integracoes">7. INTEGRAÇÕES E TERCEIROS PARCEIROS</h2>

    <h3>7.1.</h3>
    <p>
      Você pode permitir que a nossa Plataforma interaja com serviços de
      terceiros (plataformas de área de membros, sistemas de emissão de notas
      fiscais e outros). As informações que você permite que sejam acessadas por
      nós depende de cada serviço e pode ser afetada pelas configurações de
      privacidade que você e os outros com quem você está conectado estabeleçam
      ao utilizar os serviços. Serviços de terceiros são operados, controlados e
      mantidos por Terceiros, sem qualquer relacionamento conosco. Recomendamos
      que você leia os termos de uso e políticas de privacidade dos respectivos
      Terceiros para compreender como seus dados pessoais são coletados,
      utilizados e compartilhados por eles conosco ou com outros Terceiros.
    </p>

    <h3>7.2.</h3>
    <p>
      De modo específico, a Lucre+ Pagamentos, em determinados casos, podem
      vincular serviços de terceiros à Plataforma por meio de application
      programming interface (APIs), como, por exemplo, a API do YouTube. Estes
      serviços de terceiros não integram o escopo dos serviços da Lucre+
      Pagamentos e não fazem parte da Plataforma, estando sujeitos a termos e
      condições diferentes, como os
      <a href="https://www.youtube.com/t/terms">Termos de Serviço do YouTube</a>
      e a
      <a href="https://policies.google.com/privacy">Política de Privacidade do Google</a>.
      a Lucre+ Pagamentos não são responsáveis por estes serviços e, quando você
      interage com eles, está fornecendo-lhes seus dados pessoais diretamente.
    </p>

    <h4>7.2.1.</h4>
    <p>
      A plataforma da Lucre+ Pagamentos usa e transfere as informações recebidas
      das APIs do Google para qualquer outro aplicativo dentro dos requisitos da
      <a
        href="https://developers.google.com/terms/api-services-user-data-policy"
        >Política de Dados do Usuário dos Serviços de API do Google</a
      >, incluindo os requisitos de uso limitado.
    </p>

    <h2 id="transferencias">8. TRANSFERÊNCIAS INTERNACIONAIS</h2>

    <h3>8.1. Transferências Internacionais.</h3>
    <p>
      a Lucre+ Pagamentos pode transferir os seus dados pessoais a países
      diferentes daquele onde você está localizado. a Lucre+ Pagamentos adotam
      as medidas exigidas por lei, quando existentes e aplicáveis, para assegurar
      a proteção desses dados pessoais. Nas jurisdições nas quais a legislação
      ou regulamentação atualmente vigente ainda não disponha critérios
      específicos ou regras claras para a realização de transferências
      internacionais de dados pessoais, a Lucre+ Pagamentos adotam boas práticas
      para proteger seus dados pessoais, firmando contratos com os receptores de
      respectivas informações que estabeleçam medidas condizentes com as normas
      dos locais nos quais os dados pessoais tenham sido inicialmente coletados.
    </p>

    <h2 id="direitos">9. DIREITOS COM RELAÇÃO AOS SEUS DADOS PESSOAIS</h2>

    <h3>9.1. Direitos:</h3>
    <p>
      A depender das leis aplicáveis ao tratamento de seus dados pessoais, você
      pode possuir determinados direitos específicos em relação às suas
      informações pessoais, os quais podem ser exercidos através de contato
      conosco. Abaixo estão listados os direitos aplicáveis:
    </p>
    <ul>
      <li>
        <strong>Confirmação da existência do tratamento.</strong> Você tem o
        direito de nos questionar se tratamos seus dados pessoais, confirmando a
        existência ou não desses tratamentos.
      </li>
      <li>
        <strong>Acesso aos dados.</strong> Você tem o direito de solicitar uma
        cópia dos seus dados pessoais que são tratados por nós, por meio
        eletrônico, seguro e idôneo ou sob forma impressa, de acordo com sua
        preferência.
      </li>
      <li>
        <strong>Retificação.</strong> Você tem o direito de solicitar a correção
        dos seus dados pessoais que estejam incompletos, inexatos ou
        desatualizados.
      </li>
      <li>
        <strong>Anonimização, bloqueio ou exclusão.</strong> Nos casos em que
        forem tratados dados desnecessários, excessivos ou em desconformidade
        com a legislação, você tem o direito de solicitar que sejam
        anonimizados, bloqueados ou até excluídos, através de contato conosco.
      </li>
      <li>
        <strong>Portabilidade.</strong> Você tem o direito de solicitar a
        portabilidade dos seus dados pessoais para outras plataformas de
        conteúdo, na forma da regulamentação expedida pela Autoridade Nacional
        de Proteção de Dados, observados o segredo comercial e industrial da
        Lucre+ Pagamentos.
      </li>
      <li>
        <strong>Informações sobre compartilhamento.</strong> Você tem o direito
        de solicitar informações sobre as entidades públicas e privadas com as
        quais nós compartilhamos os seus dados pessoais.
      </li>
      <li>
        <strong>Informações sobre a possibilidade de negar seu consentimento.</strong>
        Você tem direito de receber informações sobre a possibilidade de não
        fornecer o seu consentimento, quando o consentimento for a base legal
        aplicável para o tratamento de dados pessoais, com a indicação das
        consequências dessa negativa.
      </li>
      <li>
        <strong>Revogação de consentimento.</strong> A qualquer tempo, você tem
        direito de revogar o consentimento que você tenha anteriormente
        outorgado, de forma fácil e gratuita. É importante que você saiba que a
        revogação do consentimento não invalida ou torna ilegítimas as
        atividades de tratamento de dados pessoais que tenham sido concretizadas
        antes da data da revogação.
      </li>
      <li>
        <strong>Oposição ao tratamento.</strong> Nos casos em que o consentimento
        não for a base legal aplicável ao tratamento dos seus dados pessoais, e
        quando houver algum descumprimento à lei de proteção de dados, você tem
        o direito de se opor ao tratamento, indicando suas razões para tanto. a
        Lucre+ Pagamentos avaliará se a sua oposição é justificada ou não,
        adotando as medidas necessárias para suspender o tratamento ou informar
        os fundamentos pelos quais compreende que o tratamento é lícito e
        permitido.
      </li>
      <li>
        <strong>Reclamação.</strong> Você tem o direito de protocolar uma
        reclamação em relação ao tratamento dos seus dados pessoais realizado
        pela Lucre+ Pagamentos perante a Autoridade Nacional de Proteção de
        Dados. No entanto, esperamos que, antes de fazer isso, você nos dê a
        oportunidade de responder a quaisquer dúvidas ou reclamações que você
        tenha diretamente.
      </li>
      <li>
        <strong>Exclusão de dados tratados com consentimento.</strong> Nos casos
        em que o seu consentimento for a base legal para uma determinada
        atividade de tratamento, você tem o direito de solicitar a exclusão
        desses dados, através de contato conosco, ressalvadas as possibilidades
        de continuarmos armazenando os dados quando for necessário para o
        cumprimento de uma obrigação legal ou regulatória, ou para a defesa de
        nossos interesses em processos judiciais, administrativos ou arbitrais.
      </li>
    </ul>

    <h3>9.2.</h3>
    <p>
      Para falar com o nosso responsável pela proteção de dados pessoais, entre
      em contato através do nosso atendimento.
    </p>

    <h3>9.3.</h3>
    <p>
      Sempre que a Lucre+ Pagamentos estiver atuando em nome de terceiros, e o
      Usuário decidir buscar junto a Lucre+ pagamentos o atendimento a um de
      seus direitos, poderemos atender, em certas circunstâncias, a essa
      solicitação, caso aplicável.
    </p>

    <p>
      Se você desejar cancelar o envio de newsletters, e-mails, telefonemas ou
      SMS publicitários, poderá fazê-lo através do link fornecido nas próprias
      comunicações.
    </p>

    <p>
      A Lucre+ Pagamentos se reserva no direito de recusar o atendimento de
      solicitações que sejam manifestamente infundadas e/ou excessivas.
    </p>

    <p>
      Todos os direitos acima que forem aplicáveis na sua jurisdição podem ser
      exercidos por você a qualquer tempo, de modo gratuito, salvo se a cobrança
      de uma taxa for permitida de acordo com a legislação ou regulamentação
      vigente, e a Lucre+ Pagamentos se compromete a envidar seus melhores
      esforços para atender às suas solicitações de forma transparente e célere.
    </p>

    <p>
      Para garantir que os direitos estão sendo exercidos por você ou por seu
      representante legal devidamente constituído, a Lucre+ Pagamentos poderá
      solicitar informações ou comprovações necessárias acerca da sua
      identidade, no sentido de evitar fraudes e garantir a sua privacidade,
      para que seus dados pessoais não sejam compartilhados com quem não tenha
      autorização para tanto.
    </p>

    <p>
      Atenderemos às suas solicitações dentro de um prazo razoável, em
      conformidade com a legislação aplicável, lembrando que somente poderemos
      responder a algumas solicitações depois de recebermos as confirmações
      previstas acima.
    </p>

    <p>
      Em determinados casos, como quando a sua solicitação for particularmente
      complexa ou quando recebermos um volume elevado de solicitações ao mesmo
      tempo, pode ser que a nossa resposta não seja tão célere como gostaríamos
      que fosse. Nessas ocasiões, manteremos você sempre informado e atualizado
      sobre o andamento da sua solicitação.
    </p>

    <h2 id="seguranca">10. SEGURANÇA</h2>

    <h3>10.1. Medidas de Segurança.</h3>
    <p>
      A Lucre+ Pagamentos emprega medidas de segurança, técnicas e
      organizacionais necessárias para proteger os dados pessoais que tratam. Os
      esforços visam mitigar riscos de destruição, perda acidental ou ilegal,
      alteração, divulgação ou acesso não autorizado ou qualquer outra forma de
      tratamento ilegal ou não autorizado. Para isso, a Lucre+ Pagamentos conta
      com controles rígidos de acesso restrito, baseados no menor privilégio,
      aos sistemas de tecnologia da informação para proteger os dados pessoais
      contra eventual incidente de segurança.
    </p>

    <h3>10.2.</h3>
    <p>
      Embora a Lucre+ Pagamentos implemente essas medidas para minimizar riscos
      de incidentes de segurança e de acessos indevidos, não é possível garantir
      a segurança absoluta dos seus dados, especialmente contra ataques
      perpetrados por pessoas mal intencionadas, que podem ser altamente
      sofisticados e inovadores, com técnicas e métodos desconhecidos até então,
      mesmo pelas melhores ferramentas de segurança da informação.
    </p>

    <h3>10.3.</h3>
    <p>
      A segurança dos seus dados também depende da adoção de medidas razoáveis
      por você no uso de seus dispositivos e softwares.
    </p>

    <h2 id="menores">11. TRATAMENTO DE DADOS PESSOAIS DE MENORES</h2>

    <h3>11.1. Dados Pessoais de Menores.</h3>
    <p>
      a Lucre+ Pagamentos não coletam nem solicitam conscientemente dados
      pessoais de menores de 13 anos. Se tomarmos conhecimento de que dados
      pessoais de um menor de 13 anos foram coletados, cancelaremos a conta
      criada na Plataforma e excluiremos os dados pessoais, apenas mantendo
      dados pessoais que tenham como objetivo evitar nova tentativa de cadastro.
    </p>

    <h2 id="contato">12. INFORMAÇÕES DE CONTATO</h2>

    <p>
      <strong>AMS EDUCACAO E TECNOLOGIA LTDA.</strong><br />
      <a href="mailto:contato@lucremais.digital">contato@lucremais.digital</a><br
      />
      (12) 99165-1883<br />
      Rua República do Iraque, nº 40, Jardim Oswaldo Cruz<br />
      CEP 12.216-540<br />
      São josé dos Campos, São Paulo, Brasil
    </p>
  </main>
</BaseLayout>

<style>
  main {
    margin: 5cqb auto;
    padding: var(--space-xxl);
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: 6cqb;
    margin-bottom: 2cqb;
  }
  h2 {
    font-size: max(2em, 2cqw);
  }
  h3 {
    font-size: max(1.5em, 1.5cqw);
  }
  h4 {
    font-size: max(1.2em, 1.2cqw);
  }
  p,
  ol,
  ul {
    margin-bottom: 1rem;
  }
  ol,
  ul {
    padding-left: 2rem;
  }
  a {
    color: var(--accent-color, #007bff); /* Fallback color */
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>