---
import HeroSection from "../components/HeroSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import FounderSection from "../components/FounderSection.astro";
import StandardCallToAction from "../components/StandardCallToAction.astro";
import HistorySection from "../components/HistorySection.astro";
---

<BaseLayout title="Sobre - Lucre+">
  <main>
    <HeroSection
      h1Text="Quem Somos"
      pText="A Lucre + é uma empresa que utiliza tecnologia para alavancar negócios pelo aumento de lucratividade. Fazemos isto por meio da redução de taxas e por meio da praticidade de nossas soluções, já que tempo é dinheiro."
      backgroundImage="'/logoline.png'"
      showButtons={false}
    />
    <HistorySection
      title="Soluções"
      description="Nossas soluções não estão disponíveis para todas as faixas de faturamento, assim garantimos atendimento premium para que já possui experiência de mercado.<br/><br/>Nossas soluções também não estão disponíveis para todos os nichos de mercado, já que acreditamos que nem todos os negócios ajudam a construir uma sociedade melhor.<br/><br/>Agora, caso sua empresa já possua um faturamento bem estabelecido e a sua atuação seja para construir uma sociedade e um país melhor, conte sempre conosco!"
      imagePath="/soluções.png"
    />
    <FounderSection
      title="Nosso Fundador"
      description="Amós Silva é Engenheiro Aeronáutico formado pelo Instituto Tecnológico de Aeronáutica (ITA), mestre em Engenharia pelo mesmo instituto e também professor no ITA.<br/><br/>Após anos de experiência no mercado digital, na liderança de um curso online pré-vestibular que aprova alunos em vestibulares altamente concorridos como ITA, IME e USP, Amós identificou um grande desafio enfrentado por Mentores,Educadores e Empreendedores Digitais: <strong>as altas taxas cobradas pelas plataformas de pagamento tradicionais.</strong><br/><br/>Foi a partir dessa dor que surgiu a <strong>Lucre+</strong>, uma solução criada para ajudar esses profissionais a maximizarem seus lucros e terem mais autonomia sobre seus negócios no digital.<br/><br/><h4>“Solucionar problemas é melhorar vidas e transformar o nosso país”<br/><br/>Amós Silva</h4>"
      imagePath="/amos.png"
    />
    <StandardCallToAction
      title="Pronto para maximizar seus lucros?"
      buttonText="Lucre agora!"
      buttonLink="/contato"
      showParagraph={false}
    />
  </main>
</BaseLayout>
<style is:global>
  @media (max-width: 960px) {
    .hero-section::after {
      opacity: 0.8 !important;
      bottom: 0 !important;
      left: 0 !important;
      background: radial-gradient(
        hsl(222deg 14% 14% / 100%) 20%,
        var(--color-background) 90%
      ) !important;
    }
  }
</style>
