---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Termos de Uso - Lucre+">
  <main>
    <h1>Termos Gerais de Uso da Lucre+</h1>
    <p><em>Versão atualizada em junho de 2025</em></p>

    <p>
      <strong
        >Estes Termos regem o uso da Lucre+ pagamentos e de todos os recursos,
        aplicativos, serviços, tecnologias e softwares disponibilizados pela
        Lucre+, exceto quando esclarecemos expressamente que outros termos (e
        não estes) se aplicam.</strong
      >
    </p>

    <p>
      <strong
        >Ao acessar ou usar a Plataforma, você concorda em se vincular a estes
        Termos e em cumprir as suas regras. Você deve ler estes Termos de forma
        atenta e cuidadosa, pois eles contêm informações importantes sobre seus
        direitos e obrigações relativos ao acesso ou uso dos recursos ou
        Serviços da Lucre+ Pagamentos.</strong
      >
    </p>

    <h2>VISÃO GERAL</h2>

    <p>
      <strong>A.</strong> Estes Termos regulam o acesso ou uso de recursos
      contidos na Plataforma para todos os Usuários, em qualquer lugar do mundo.
      Alguns recursos podem não estar disponíveis em todos os territórios e a
      todos os Usuários.
    </p>

    <p>
      <strong>B.</strong> Estes Termos constituem um contrato vinculante entre
      você, como Usuário, e a Lucre+, e regem seu acesso e uso: (a) do site
      lucremais.digital, lucremais.store, lucremais.app e seus subdomínios; (b)
      de quaisquer outros sites, interface, aplicativos ou outros meios nos
      quais a Lucre+ disponibilize seus recursos; e (c) de todos os Serviços
      relacionados aos recursos disponibilizados pela Lucre+.
    </p>

    <p>
      <strong>C.</strong> Você declara que conhece e concorda com o seu conteúdo
      e com as demais Políticas da Lucre+ aplicáveis, inclusive com a
      <a href="/politica-de-privacidade">Política de Privacidade</a>. As
      Políticas da Lucre+ são parte integrante destes Termos e se incorporam a
      eles por referência, ainda que sejam apresentadas em textos separados. Em
      caso de conflito, as regras destes Termos devem prevalecer sobre as
      condições estabelecidas em outras Políticas da Lucre+, exceto se houver
      previsões específicas estabelecendo que determinada Política prevalece.
      Estes Termos e suas atualizações também prevalecem sobre todas as
      propostas, entendimentos ou acordos anteriores, verbais ou escritos, que
      possam existir entre você e a Lucre+.
    </p>

    <p>
      <strong>D.</strong> Após você aceitar estes Termos, a Lucre+ concede a
      você automaticamente uma licença de uso não exclusiva da Plataforma. Os
      recursos contidos na Plataforma Lucre+ são licenciados no estado em que se
      encontram. Eles podem ser modificados, substituídos ou removidos da
      Plataforma pela Lucre+ a qualquer momento, sem aviso prévio.
    </p>

    <p>
      <strong>E.</strong> O respeito às condições destes Termos é essencial para
      o uso legítimo dos recursos disponibilizados na Plataforma. Se você usar a
      Plataforma de modo incompatível com estes Termos, a Lucre+ pode aplicar
      diferentes medidas, a qualquer tempo, com ou sem aviso prévio. Essas
      medidas podem incluir, sem prejuízo de outras, (a) a suspensão do acesso
      a um produto, (b) a suspensão do acesso à sua conta, (c) o cancelamento
      do seu cadastro ou (d) o encerramento da sua licença de uso da Plataforma.
      O modo de aplicação dessas e de outras medidas é detalhada ao longo destes
      Termos.
    </p>

    <p>
      <strong>F.</strong> Ao aceitar estes Termos, você autoriza que a Lucre+
      reporte às autoridades competentes qualquer ato relacionado ao acesso ou
      uso da Plataforma que a Lucre+ considere ter indícios de irregularidades
      ou ilegalidades. O Usuário reportado não pode exigir que a Lucre+ pague
      qualquer tipo de indenização, por dano patrimonial ou extrapatrimonial,
      por consequência dessa comunicação.
    </p>

    <p>
      <strong>G.</strong> Em atenção a diretrizes expedidas por órgãos de
      alcance internacional, como o
      <em>Office of Foreign Assets Control</em> dos Estados Unidos, a
      <em>United Kingdom Sanctions List</em> ou a
      <em>United Nations Security Council Sanctions List</em>, a Lucre+ não
      transaciona ou opera com Usuários localizados em determinados países ou
      regiões, em atendimento às normas e boas práticas globais voltadas à
      prevenção da lavagem de dinheiro, atos fraudulentos e financiamento de
      atividades ilícitas.
    </p>

    <p>
      <strong>H.</strong> A Lucre+ se preocupa com sua privacidade e tem o
      compromisso de preservá-la. O tratamento de dados pessoais relacionados
      ao seu acesso e uso da Plataforma está descrito na nossa
      <a href="/politica-de-privacidade">Política de Privacidade</a>.
    </p>

    <p>
      <strong>I.</strong> Todo serviço de processamento de pagamento relacionado
      ao seu uso da Plataforma ou realizado por meio da Plataforma é prestado a
      você conforme estabelecido na Política Geral de Pagamentos da Lucre+.
    </p>

    <p>
      <strong>J.</strong> Ao usar os Serviços da Lucre+ com relação a qualquer
      Produto, você se responsabiliza por identificar, compreender e cumprir
      todas as leis, regras e regulamentações aplicáveis. Isso pode incluir,
      entre outras, normas de natureza cível, normas sobre propriedade
      intelectual, sobre o anúncio e conteúdo de seu Produto e sobre sua
      comercialização e compartilhamento perante os Compradores. As normas
      aplicáveis também podem exigir providências de natureza regulatória, como
      obtenção de licenças, permissões ou autorizações por órgãos públicos, além
      de inscrições em registros profissionais e o respeito a regulamentações
      emitidas por eles. Regras sobre tributos ou contabilidade também podem
      incidir. Em caso de dúvidas sobre como as leis locais se aplicam aos seus
      negócios na Plataforma ou à sua relação com a Lucre+, procure a sua
      assessoria jurídica ou contábil.
    </p>

    <p>
      <strong>K.</strong> A Lucre+ se reserva o direito de modificar estes
      Termos a qualquer tempo. Se estes Termos forem alterados, a Lucre+
      publicará na Plataforma os Termos revisados e informará a data da última
      atualização no seu início (“versão atualizada em”). Também enviaremos a
      você uma notificação sobre as alterações antes da data de início da sua
      vigência. Se você discordar da nova versão dos Termos, poderá encerrar
      este Contrato com efeito imediato. Se você não encerrar seu Contrato antes
      da data de vigência da nova versão dos Termos, seu acesso contínuo ou seu
      uso da Plataforma significará que você aceita as alterações.
    </p>

    <p>
      <strong>L.</strong> Se a Lucre+ não exercer imediatamente algum direito
      que lhe seja cabível na forma da lei ou destes Termos, por qualquer
      motivo, ou mesmo se deixar de exercer algum direito em determinado caso,
      isso não significa que a Lucre+ estará renunciando ao exercício desses
      direitos. A Lucre+ pode exercer seus direitos a qualquer tempo, a seu
      critério, e, se a Lucre+ renunciar ao exercício de qualquer um de seus
      direitos individualmente, isso não significa que estará renunciando ao
      exercício de seus direitos como um todo.
    </p>

    <p>
      <strong>M.</strong> As expressões iniciadas por letras maiúsculas nestes
      Termos ou nas Políticas da Lucre+ têm significado próprio, conforme
      detalhado no Glossário. Para compreender em mais detalhes o conteúdo
      destes Termos e das Políticas da Lucre+, recomendamos que você consulte o
      significado dessas expressões no Glossário.
    </p>

    <p>
      <strong>N.</strong> O uso de exemplos nestes Termos, bem como o uso de
      expressões como “inclusive”, “incluindo” e outros termos semelhantes, não
      pode ser interpretado de modo a limitar a abrangência das regras que os
      utilizam, tendo sempre função exemplificativa e, portanto, não exaustiva.
    </p>

    <p>
      <strong>O</strong>. ESTE TERMO CONTÉM UMA CLÁUSULA DE RENÚNCIA EXPRESSA
      AOS DIREITOS DE PARTICIPAÇÃO EM AÇÕES COLETIVAS OU ARBITRAGENS COLETIVAS.
    </p>

    <h2>1. OS SERVIÇOS PRESTADOS PELA LUCRE+</h2>

    <p>
      <strong>1.1. Escopo dos Serviços da Lucre+:</strong> A Plataforma Lucre+
      disponibiliza um conjunto de recursos online que possibilitam aos seus
      Usuários comercializar Produtos em diversos formatos. Quando os Usuários
      realizam uma transação sobre um Produto mediante a Plataforma, eles
      celebram um contrato diretamente um com o outro. A Lucre+ não é e não se
      torna parte interveniente ou garantidora de qualquer relação entre os
      Usuários.
    </p>

    <p>
      <strong>1.2. Relação entre os Usuários com a Lucre+:</strong> Ao utilizar
      a Plataforma como Criador, Coprodutor, Afiliado ou Comprador, você é um
      contratante dos serviços da Lucre+, e não se torna empregado,
      colaborador, representante, agente, sócio, associado ou parceiro da
      Lucre+. Você não pode se apresentar como se tivesse vínculos desses tipos
      com a Lucre+ (por exemplo, você não pode se descrever nas redes sociais
      como “vendedor da Lucre+” ou “agente da Lucre+”). Você deve atuar
      exclusivamente em seu próprio nome e em seu próprio benefício, e não pode
      atuar em nome ou em benefício da Lucre+. Você tem liberdade de atuação e
      discricionariedade para divulgar e comercializar os Produtos dos quais
      você seja Criador (individualmente ou em conjunto com Coprodutor) ou
      Afiliado, respeitadas as normas legais, as regras destes Termos e a
      Política de Uso Responsável da Lucre+, bem como para desempenhar suas
      atividades comerciais e estabelecer suas relações de trabalho como achar
      adequado.
    </p>

    <p>
      <strong>1.3. Titularidade dos Produtos:</strong> A condição de titular e
      fornecedora dos recursos disponibilizados pela Plataforma não significa
      que a Lucre+ cria, elabora, controla, endossa ou fornece qualquer Produto.
      Os Criadores e Coprodutores são integralmente responsáveis pelos Produtos e
      pelas informações inerentes a eles, inclusive suas regras de oferta e uso,
      de acordo com o negociado entre as Partes e desde que respeitada a
      integralidade dos Termos. A Lucre+ não se responsabiliza por quaisquer
      disputas ou danos, de qualquer natureza, que possam surgir do
      relacionamento entre seus Usuários, ou deles com terceiros. Em especial, a
      Lucre+ não é responsável por qualquer pretensão que você possa ter por
      confiar em uma informação fornecida por um Criador ou Coprodutor, por um
      Afiliado ou veiculada em um Produto.
    </p>

    <p>
      <strong>1.4. Inexistência de Promessas de Desempenho, Ganho ou Resultados
        decorrentes do Uso da Plataforma:</strong
      > A Lucre+ não promete nem garante que você atingirá qualquer desempenho,
      ganho ou resultado com o uso da Plataforma ou com a aquisição de qualquer
      Produto. Além disso, nenhum Criador, Coprodutor ou Afiliado pode prometer
      desempenho, ganho ou resultado inalcançável de qualquer natureza, seja
      decorrente do uso da Plataforma, de sua condição de Usuário, ou do uso ou
      comercialização dos Produtos. Assim, por exemplo, nenhum Criador,
      Coprodutor ou Afiliado pode prometer que o uso da Plataforma proporciona
      renda extra ao Usuário, nem anunciar que o uso de um Produto garante
      benefícios à saúde do Comprador.
    </p>

    <p>
      <strong>1.5. Conformidade dos Produtos com as Políticas da Lucre+:</strong>
      A Lucre+ disponibiliza recursos para quem deseja comercializar um Produto
      de forma simples e prática, exceto se este fizer apologia a crimes
      previstos no arcabouço legal brasileiro, se for conteúdo ligado a apostas
      ou outros conteúdos para maiores de 18 anos. Por isso, uma vez que não
      recaiam nas restrições apresentadas qualquer Criador ou Coprodutor pode
      usar a Plataforma para comercializar seus Produtos. Em linha com a
      legislação aplicável, a Lucre+ não se obriga a fazer controle prévio de
      conteúdo (editorial ou de qualquer outra natureza) dos Produtos, nem a
      fazer curadoria de qualquer tipo dos Produtos, mas uma vez identificados
      conteúdos que infringem as restrições apresentadas nestes termos os
      produtos não poderão mais ser comercializados pela Lucre+.
    </p>

    <p>
      <strong>1.6. Processos de Verificação conduzidos pela Lucre+:</strong> A
      Lucre+ leva a integridade da comunidade que usa a Plataforma muito a sério
      e, por isso, se reserva o direito de realizar verificações antes ou depois
      do cadastro dos Usuários, da oferta de um Produto ou da inserção de algum
      conteúdo na Plataforma, bem como o direito de exigir informações
      adicionais ou até mesmo mudanças em Produtos já cadastrados na Plataforma.
      Quaisquer referências a um Usuário ou Produto sendo “analisado” (ou
      linguagem similar) apenas indica que o Usuário ou Produto se submete a um
      processo de verificação cadastral, e nada mais. Nenhuma dessas descrições
      significa endosso, certificação ou garantia da Lucre+ sobre a qualidade do
      Produto. Essas descrições também não representam qualquer atestado de que
      o Usuário ou o Produto estão adequados ao disposto na legislação
      aplicável, nestes Termos ou nas Políticas da Lucre+. Lembramos que os
      Usuários são os responsáveis por cumprir todas as regras aplicáveis aos
      Produtos cadastrados e à sua comercialização e compartilhamento, e não a
      Lucre+.
    </p>

    <p>
      <strong>1.7. Acesso à Internet e à Plataforma:</strong> Devido à natureza
      da Internet, a Lucre+ não pode garantir que a Plataforma fique disponível
      e acessível ininterruptamente. Além disso, a Lucre+ pode restringir a
      disponibilidade da Plataforma ou de certas áreas ou recursos a ela
      relacionados, se necessário, considerando os limites de capacidade, a
      segurança ou a integridade de seus servidores, bem como para realizar
      medidas de manutenção ou aprimoramento dos seus serviços. A Lucre+ não
      pode ser responsabilizada pelo Usuário ou por qualquer terceiro em função
      do impedimento ou alteração na forma de acesso à Plataforma e aos
      Serviços. A Lucre+ pode melhorar e alterar a Plataforma a qualquer tempo,
      seja para modificar, substituir ou remover Serviços existentes, ou para
      adicionar Serviços novos.
    </p>

    <p>
      <strong>1.8. Prestação de Serviços de Terceiros:</strong> A Plataforma
      pode conter links para sites ou recursos de terceiros. Esses Serviços de
      Terceiros não integram o escopo dos Serviços da Lucre+ e não fazem parte
      da Plataforma. Por isso, eles estão sujeitos a termos e condições
      diferentes, inclusive com relação às práticas de privacidade. A Lucre+ não
      é responsável pela disponibilidade ou pela precisão dos Serviços de
      Terceiros, tampouco pelo seu conteúdo, pelos produtos ou pelos serviços
      disponíveis neles. Os links para esses Serviços de Terceiros não
      representam endosso ou concordância da Lucre+ a seu respeito.
    </p>

    <p>
      <strong>1.9. Atendimento ao Cliente e Solução de Controvérsias entre os
        Usuários:</strong
      > A Lucre+ dispõe de mecanismos de atendimento aos Usuários para facilitar
      a solução de problemas relativos aos Serviços da Lucre+. A Lucre+ também
      dispõe de mecanismos destinados a facilitar a comunicação para solução de
      problemas e eventuais conflitos entre você e outro Usuário, funcionando
      como canal de diálogo em busca de solução consensual entre os Usuários.
    </p>

    <h2>2. ELEGIBILIDADE, CADASTRO E ACESSO À PLATAFORMA</h2>

    <p>
      <strong>2.1. Elegibilidade dos Criadores, Coprodutores, Colaboradores ou
        Afiliados:</strong
      > Para registrar uma conta na Plataforma como Criador, Coprodutor,
      Colaborador ou Afiliado, é necessário que você tenha pelo menos 18 anos de
      idade, ou seja emancipado nos moldes da legislação aplicável. Ao aceitar
      estes Termos, você declara ser plenamente capaz para exercer todos os atos
      da vida civil. Se o cadastro na Lucre+ for efetuado em nome de pessoa
      jurídica, você declara que tem poder e todas as autorizações necessárias
      para vinculá-la regularmente, inclusive para conceder à Lucre+ todas as
      permissões e licenças referidas nestes Termos ou nas Políticas da Lucre+.
    </p>

    <p>
      <strong>2.2. Elegibilidade dos Compradores:</strong> A idade mínima para
      Compradores se cadastrarem na Plataforma é de 13 anos. Adolescentes entre
      13 e 18 anos precisam estar regularmente autorizados pelos pais ou
      responsáveis para tanto. O cadastro na Plataforma e a aceitação destes
      Termos pressupõem que essa autorização foi concedida. A Lucre+ deve
      cancelar o cadastro de Usuário menor de 18 anos a pedido dos pais ou
      responsáveis, mas isso não gera direito a qualquer indenização ou
      reembolso em razão dos Produtos adquiridos pelo menor durante a vigência
      de seu cadastro.
    </p>

    <p>
      <strong>2.3. Usuários Restritos:</strong> A Lucre+ pode recusar ou
      cancelar o cadastro de determinado Usuário se tomar conhecimento, por si
      ou por denúncia fundamentada de terceiro, da existência de condenação,
      mediante sentença transitada em julgado, por (a) crimes hediondos, ou
      equiparados a crimes hediondos; (b) envolvimento em organizações
      criminosas, lavagem de dinheiro, atos terroristas ou tráfico internacional
      de pessoas; ou (c) crimes cometidos por meios eletrônicos ou mecanismos
      cibernéticos.
    </p>

    <p>
      <strong>2.4. Suspensão ou Encerramento da sua Conta:</strong> Se a Lucre+
      limitar seu acesso ou uso da Plataforma, suspender sua conta ou encerrar
      este Contrato, você não poderá registrar uma nova conta na Plataforma, nem
      acessar ou usar a Plataforma através da conta de outro Usuário sem
      autorização prévia da Lucre+, e desde que os motivos que ensejaram a
      suspensão ou cancelamento não subsistam.
    </p>

    <p>
      <strong>2.5. Cadastro:</strong> Para usar a Plataforma ou cadastrar um
      Produto, você se obriga a preencher adequadamente, e com informações
      corretas, todos os dados solicitados pela Lucre+ no cadastramento, cientes
      de que eventuais equívocos poderão trazer impactos ao Usuário, inclusive
      fiscais. A Lucre+ pode usar quaisquer meios legalmente admitidos para lhe
      identificar, assim como pode requerer de você a qualquer momento dados
      adicionais para complementar aqueles já fornecidos. Se você enviar
      informações inverídicas, incorretas ou incompletas, os seus cadastros
      podem ser suspensos ou cancelados. A Lucre+ pode recusar seus cadastros ou
      cancelá-los se entender que há indícios de que você está usando ou tende a
      utilizar a Plataforma em desacordo com estes Termos.
    </p>

    <p>
      <strong>2.6. Exatidão e Veracidade dos Dados:</strong> Você é o único
      responsável por cadastrar dados verdadeiros, exatos e atualizados, e
      responde pelas consequências dos dados ou informações inverídicos,
      incompletos ou incorretos que fornecer no cadastro ou depois dele.
      Confira sempre as informações fornecidas à Plataforma antes de concluir o
      seu cadastro.
    </p>

    <p>
      <strong>2.7. Senha de Acesso e Atividades da Conta:</strong> Você é o único
      responsável por seu login, por sua senha, e por qualquer atividade
      conduzida por meio de sua conta na Plataforma. A Lucre+ não é responsável
      por quaisquer danos, patrimoniais ou extrapatrimoniais, resultantes do uso
      indevido da sua conta por terceiros. É imprescindível que você mantenha a
      confidencialidade e a segurança das suas credenciais de acesso à sua conta
      na Lucre+, que são pessoais e intransferíveis. Não divulgue ou de qualquer
      maneira compartilhe essas credenciais a terceiros. Nenhum empregado,
      colaborador, representante, agente ou qualquer pessoa vinculada direta ou
      indiretamente à Lucre+ está autorizada a solicitar que você compartilhe
      sua senha de acesso. Você também não deve compartilhar suas credenciais de
      acesso com Criadores ou Afiliados, pois as atividades que esses Usuários
      desempenham não dependem do compartilhamento desse tipo de informação.
      Você deve notificar a Lucre+ imediatamente se você tomar conhecimento ou
      suspeitar que suas credenciais de acesso foram extraviadas, furtadas,
      apropriadas indevidamente por terceiros, tiveram sua confidencialidade
      comprometida ou foram de qualquer forma utilizadas sem sua autorização.
    </p>

    <p>
      <strong>2.8. Dados Bancários:</strong> Após realizar a primeira venda, os
      Criadores, Coprodutores ou Afiliados devem fornecer dados bancários,
      indicando conta corrente de sua titularidade, seja para cadastros de
      pessoa física, seja para cadastros de pessoa jurídica. A conta bancária
      precisa estar no mesmo domicílio, tanto nos casos de pessoa física, quanto
      jurídica. O cadastro ou o repasse de valores devidos aos Criadores,
      Coprodutores ou Afiliados para conta bancária de terceiros não é permitido
      em nenhuma circunstância e a nenhum pretexto. Também é proibido o cadastro
      ou repasse de valores para conta bancária de mesma titularidade, mas
      situada fora do domicílio do cadastro do Criador, Coprodutor ou Afiliado.
    </p>

    <p>
      <strong>2.9. Tratamento dos Dados:</strong> A
      <a href="/politica-de-privacidade">Política de Privacidade</a> da Lucre+
      rege o tratamento dos dados pessoais que você fornece à Lucre+ durante o
      uso e o acesso da Plataforma.
    </p>

    <h2>3. SEUS PRINCIPAIS COMPROMISSOS COM A Lucre+ E COM OS DEMAIS USUÁRIOS</h2>

    <p>
      <strong>3.1. Obrigações Gerais dos Usuários da Plataforma</strong>: Você
      deve acessar a Plataforma ou usar os Serviços da Lucre+ apenas para fins
      lícitos. Você deve preservar a reputação da Lucre+ e evitar qualquer
      prática realizada por você (ou por terceiros relacionados a você) que
      possa, direta ou indiretamente, desabonar a Lucre+, seus Serviços, seus
      empregados, colaboradores, representantes, agentes, sócios ou parceiros.
    </p>

    <p>
      <strong>3.2. Direitos de Propriedade Intelectual da Lucre+:</strong> As
      informações contidas na Plataforma, bem como as marcas, patentes,
      desenhos industriais, nomes empresariais, nomes de domínio, programas,
      bancos de dados, redes, arquivos, obras autorais, mídias em geral (áudio,
      texto, vídeo etc.) e qualquer outra propriedade intelectual relacionada
      aos Serviços da Lucre+ ou contida na Plataforma são de titularidade
      exclusiva da Lucre+, ou foram regularmente cedidas ou licenciadas à
      Lucre+. Esses elementos são protegidos pelas leis e tratados
      internacionais de propriedade intelectual. É proibido copiar, distribuir,
      usar ou publicar total ou parcialmente qualquer material, qualquer item da
      Plataforma ou qualquer Produto ofertado na Plataforma sem prévia
      autorização por escrito da Lucre+.
    </p>

    <p>
      <strong>3.3. Relacionamento dos Usuários entre si e com Terceiros:</strong>
      Você se compromete a manter um relacionamento saudável e harmonioso com os
      demais Usuários e com terceiros a respeito do uso da Plataforma. Você não
      pode agredir, caluniar, injuriar ou difamar outros Usuários ou terceiros,
      inclusive os empregados, colaboradores, representantes, agentes, sócios ou
      parceiros da Lucre+ com os quais você tenha contato. Se a Lucre+
      constatar que você agrediu, assediou, discriminou ou de qualquer outra
      forma lesionou direitos dessas pessoas, da Lucre+ ou de outros Usuários, a
      Lucre+ pode, a seu critério, tomar uma série de medidas previstas nestes
      Termos, que podem incluir a suspensão da sua licença de uso da Plataforma
      e o encerramento da prestação dos Serviços para você, excluindo-o da
      Plataforma, além de buscar concomitantemente a reparação de quaisquer
      danos, patrimoniais ou extrapatrimoniais, que você causar.
    </p>

    <p>
      <strong>3.4. Indenizações à Lucre+:</strong> Ao aceitar estes Termos, você
      se obriga a manter a Lucre+ indene e a reparar quaisquer danos que você
      causar à Lucre+ por ação ou omissão que seja imputável a você. Essa
      obrigação de evitar e reparar danos inclui os patrimoniais e
      extrapatrimoniais, além de todas as despesas incorridas pela Lucre+ em
      decorrência de condutas imputáveis a você, como despesas com obrigações
      tributárias, ações judiciais, acordos extrajudiciais, honorários de
      advogados e peritos, multas e juros, decorrentes dos Produtos
      comercializados ou demais problemas não relacionados a falha na Plataforma.
      Você também se obriga a manter indene e a reparar os danos que você causar
      aos sócios da Lucre+, aos seus controladores, às suas sociedades
      controladas ou coligadas, aos seus administradores, diretores, gerentes,
      empregados, agentes, colaboradores, representantes e procuradores.
    </p>

    <p>
      <strong>3.5. Uso Adequado da Plataforma e dos Serviços da Lucre+:</strong>
      A Lucre+ oferece um ambiente seguro para que qualquer pessoa possa
      comercializar ou comprar produtos ou serviços. Desse modo, e sem prejuízo
      de outras regras previstas nestes Termos ou nas Políticas da Lucre+: (a)
      você não pode violar ou tentar violar quaisquer medidas de segurança da
      Plataforma, nem tirar proveito de eventual inconsistência de sistemas da
      Lucre+; (b) você não pode alterar os dados de qualquer Produto depois que
      a Lucre+ concluir o processo de verificação cadastral, inclusive seu
      título, descritivo, condições de compra e conteúdo do Produto digital ou
      físico; (c) você não pode induzir terceiros a acreditarem, por ação ou
      omissão sua, dentro ou fora da Plataforma, que você é empregado,
      colaborador, prestador de serviço, representante ou que mantém com a
      Lucre+ qualquer outro vínculo além de Usuário; (d) você não pode manipular
      preços de Produtos; (e) você não pode interferir nas transações realizadas
      entre outros Usuários; (f) você não pode adotar quaisquer práticas de
      divulgação, captação de informação ou publicidade que sejam indesejadas,
      massivas, repetitivas, fora de contexto, enganosas, inapropriadas,
      caluniosas ou ilegais, para promover qualquer Produto cadastrado na
      Plataforma, como <em>spam</em>, <em>flooding</em>, <em>adware</em>,
      <em>malware</em> e outras técnicas nocivas; (g) você não pode declarar
      nem sugerir que a Plataforma é um meio fácil e/ou rápido de obter
      rendimentos, ou que não requer trabalho ou esforço; (h) você não pode
      comprar qualquer Produto com seu próprio link de Afiliado; (i) você deve
      utilizar a Plataforma com respeito, sempre ponderando os Conteúdos Gerados
      por Usuários que inserir e/ou os Produtos que vender através da Plataforma;
      (j) você não pode usar link de Afiliados de seu próprio Produto em sua
      página de produto; (k) você não pode substituir o link de Afiliado
      constante de uma página de produto em benefício próprio ou de terceiros;
      (l) você não pode utilizar qualquer sistema para o envio de requisições de
      acesso e utilização dos Serviços que supere, em um dado período de tempo,
      o que seria normalmente possível responder, levando ao impedimento de
      acesso, deteriorando ou de qualquer forma alterando a experiência de
      utilização da Plataforma e de seus conteúdos; e (m) você se obriga a não
      utilizar qualquer sistema automatizado, inclusive robôs,
      <em>spiders</em>, <em>scripts</em> ou <em>offline readers</em>, que
      acessem os Serviços e venham a utilizá-los de forma contrária ao previsto
      nestes Termos ou na legislação em vigor.
    </p>

    <h2>4. O USO DOS RECURSOS E OS CONTEÚDOS QUE PODEM SER COMERCIALIZADOS
      MEDIANTE A PLATAFORMA</h2>

    <p>
      <strong>4.1. Os Recursos da Plataforma</strong>: A Lucre+ oferece uma
      plataforma totalmente integrada e com soluções para escalar o seu negócio,
      incluindo o pagamento seguro das transações entre os Usuários. O objetivo
      é que o Criador consiga focar em desenvolver e/ou ofertar Produtos de
      qualidade e criar relacionamentos mais próximos com seus Compradores. Para
      isso, além de recursos de pagamento pelo Produto, a Lucre+ também
      disponibiliza recursos que auxiliam as vendas, criação, divulgação e
      entrega de forma simplificada, cabendo aos Criadores escolherem quais
      desejam integrar seus Produtos.
    </p>

    <p>
      <strong>4.2. Comercialização dos Produtos:</strong> Ao usar qualquer
      recurso da Plataforma para criar, divulgar ou comercializar um Produto, o
      Criador, por si e em razão de seu relacionamento com outros Coprodutores
      (se aplicável), declara ser o titular exclusivo de todos os direitos
      pertinentes, incluindo mas não se limitando os de propriedade intelectual
      relativos ao Produto e ao seu conteúdo, ou estar regularmente autorizado
      pelos titulares desses direitos para fazê-lo. O Criador também garante que
      o Produto não viola quaisquer direitos de propriedade intelectual de
      terceiros, inclusive de imagem ou direitos autorais, sendo o Produto
      original, ou tendo o Criador e o Coprodutor recebido as licenças ou
      cessões de direitos pertinentes dos titulares de direitos sobre o conteúdo
      integrante do Produto. Além disso, o Criador e o Coprodutor devem ter
      todos os direitos para conceder à Lucre+ as licenças necessárias para a
      Lucre+ desempenhar suas atividades relativas ao uso da Plataforma com
      relação ao Produto, na forma destes Termos e das Políticas da Lucre+.
    </p>

    <p>
      <strong>4.3. Uso Responsável da Plataforma:</strong> O propósito da Lucre+
      é possibilitar que as pessoas empreendam e se eduquem com mais facilidade
      e, assim, se desenvolvam tanto na área profissional quanto na pessoal.
      Para atingir esse objetivo, a Lucre+ adota alguns valores e princípios,
      que devem ser observados por todos seus Usuários: o respeito ao próximo,
      aos Usuários e às leis locais é um deles, assim como a proteção à liberdade
      de expressão e a neutralidade e isonomia das redes de Internet. Por isso,
      a Lucre+ não aceita Produtos e conteúdos que violem essas diretrizes. Em
      termos gerais, você não pode usar a Plataforma para criar, divulgar ou
      comercializar Produtos e/ou inserir Conteúdos Gerados por Usuários (a) que
      violem a legislação aplicável ou direitos de terceiros; (b) que incitem
      violência, ódio, discriminação, ou que possam causar prejuízo aos Usuários
      ou à Lucre+; (c) que prejudiquem a experiência dos Usuários na Plataforma;
      ou (d) que estejam em desacordo com o modelo de negócios da Lucre+ ou que
      sejam contrários aos valores da empresa.
    </p>

    <p>
      <strong>4.4. Conteúdo Disponibilizado ao Comprador em Produtos Digitais:</strong
      > Ao adquirir um Produto digital, o Comprador está adquirindo o direito de
      acesso ao seu conteúdo, nos termos estabelecidos na Página de Produto. A
      compra do Produto não concede ao Comprador direitos de propriedade
      intelectual sobre o Produto. O Comprador não está autorizado a
      comercializar ou ceder a terceiros o Produto, no todo ou em parte, ainda
      que a título gratuito. A Lucre+ pode cessar de forma temporária ou
      definitiva o acesso do Comprador ao Produto, inclusive por bloqueio de
      acesso ao Produto ou bloqueio de Usuário, se for verificada a
      inobservância destes Termos e/ou demais Políticas da Lucre+, bem como se
      houver suspeita de fraude. Uma fraude pode ser caracterizada pelo
      fornecimento ou compartilhamento de senha, assim como por outras condutas,
      como o download, transmissão, retransmissão ou armazenamento não
      autorizado do Produto.
    </p>

    <h2>5. AS PRINCIPAIS REGRAS APLICÁVEIS AOS CRIADORES</h2>

    <p>
      <strong>5.1. Proibição de Uso de Marca ou Associação Inadequada da Lucre+</strong>:
      Você não pode usar qualquer marca, logo ou nome comercial da Lucre+ para
      divulgar qualquer Produto, e nem indicar direta ou indiretamente que a
      Lucre+ se associou, aprovou ou certificou o Produto. Você deve usar e
      acessar a Plataforma apenas nos limites necessários para usar os Serviços
      da Lucre+ na criação, divulgação, comercialização ou utilização do Produto.
    </p>

    <p>
      <strong>5.2. Dados Pessoais dos Usuários:</strong> O Criador deve tratar os
      dados pessoais dos Usuários aos quais tiver acesso em decorrência dos
      Serviços da Lucre+ em total respeito às leis aplicáveis, especialmente ao
      previsto na <a href="/politica-de-privacidade">Política de Privacidade</a>
      da Lucre+.
    </p>

    <p>
      <strong>5.5. Transparência e Dever de Informação:</strong> Além das
      informações de cadastro, dos dados bancários e dos demais dados da conta,
      o Criador e o Coprodutor devem fornecer à Lucre+ e a terceiros, Usuários
      ou não, todas as informações razoavelmente esperadas relativas aos
      Produtos. Essas informações devem ser prestadas de maneira completa,
      inequívoca, objetiva, transparente e atualizada, dentro e fora da
      Plataforma, notadamente quanto (a) ao assunto, composição, descrição,
      objetivo, características, qualidade e quantidade do Produto; (b) ao
      preço, formas de pagamento, condições de parcelamento e eventuais
      promoções e descontos; (c) aos prazos e formas de exercício de garantia ou
      direito de arrependimento; (d) às regras, formas, prazos, validade e
      períodos e meios de entrega, acesso, troca e devolução; (e) às
      atualizações e versões, se aplicável; (f) aos requisitos obrigatórios e
      certificação, se aplicável; (g) aos deveres que devem ser cumpridos pelos
      Usuários e limites aos seus direitos; (h) às regras de aceitação e
      comissão dos Afiliados (como percentual e possibilidade de recebimento
      pela primeira indicação, pela última indicação ou divisão da comissão para
      a primeira e última indicações); (i) a qualquer outra informação relevante
      ou decorrente de obrigação legal sobre o aproveitamento e a comercialização
      do Produto.
    </p>

    <p><strong>5.5.1. <em>Disclaimers</em>:</strong> Além de eventuais
      advertências exigíveis em razão de leis, regulamentos ou convenções que
      disponham sobre a publicidade e anúncios de produtos, a Lucre+ pode
      sugerir ou requerer a inserção de advertências para determinadas
      categorias de produtos, ou para alguns produtos específicos, no intuito de
      garantir maior transparência sobre os riscos e as expectativas de entrega
      de Produtos cadastrados na Plataforma.</p>

    <p>
      <strong>5.6. Responsabilidade por Terceiros Relacionados:</strong> Os
      Criadores e Coprodutores são integral e solidariamente responsáveis por
      ações ou omissões praticadas por Terceiros Relacionados. São considerados
      Terceiros Relacionados quaisquer pessoas, naturais ou jurídicas, que
      estejam direta ou indiretamente relacionadas a um Produto, como
      especialistas, atores, personagens ou garotos-propaganda. Ao cadastrar um
      Produto na Plataforma, os Criadores e Coprodutores garantem que os
      Terceiros Relacionados conhecem, concordam e se obrigam a cumprir estes
      Termos e as Políticas da Lucre+, pois eles se aplicam a essas pessoas. Os
      Criadores e Coprodutores se responsabilizam integralmente por obter e
      manter eficazes, durante todo o período de vida do Produto na Plataforma,
      os direitos para a exploração da imagem e dos demais direitos de
      personalidade dos Terceiros Relacionados, na extensão necessária para a
      comercialização do Produto. Na hipótese de um Terceiro Relacionado ser um
      menor de 18 anos, o Criador e Coprodutores devem garantir que têm as
      respectivas autorizações dos responsáveis e órgãos competentes por emitir
      permissões nesse sentido. A participação de menores de 18 anos em textos,
      imagens ou sons contidos nos Produtos deve ser muito restrita, somente
      quando essencial para a apresentação do tema proposto, e o Criador e
      Coprodutores devem cumprir e se responsabilizar pelo cumprimento de todas
      as normas aplicáveis sobre o uso de trabalho infantil, além do estabelecido
      nestes Termos. A Lucre+ pode aplicar medidas perante qualquer Usuário ou
      Produto, inclusive removê-los da Plataforma, com base em ações ou omissões
      de Terceiros Relacionados que violem estes Termos.
    </p>

    <p>
      <strong>5.8. Os Coprodutores</strong>: Qualquer Criador pode cadastrar
      Usuários da Plataforma como Coprodutor de determinado Produto, desde que
      esses sejam plenamente capazes, nos termos da legislação aplicável,
      autorizando-o a praticar atos relativos a determinado Produto sem que seja
      necessário o compartilhamento das credenciais de acesso do Criador à
      Plataforma. Ao efetuar esse cadastro, cabe ao Criador definir o conjunto
      de atos facultados a cada Coprodutor, bem como o modelo de coprodução
      aplicável e a comissão ou os percentuais a que cada Coprodutor faz jus
      pela venda de determinado Produto. Para a realização do cadastro na
      Plataforma, o Coprodutor concede ao respectivo Criador todos os poderes
      necessários para agir em seu nome e praticar todos os atos relacionados
      perante a Lucre+, demais Usuários e terceiros. O Coprodutor declara-se
      ciente e concorda que: (a) todas as obrigações previstas nestes Termos
      para os Criadores também lhe serão aplicáveis, na qualidade de Usuário; e
      (ii) salvo quando houver disposição em sentido contrário nestes Termos, os
      direitos concedidos aos Criadores não lhe serão estendidos. Os Criadores
      são integral e solidariamente responsáveis perante os Usuários, terceiros
      e a Lucre+, pelas atividades desempenhadas pelos Coprodutores relativas
      aos seus Produtos. Da mesma maneira, os Coprodutores são integral e
      solidariamente responsáveis perante os Usuários, terceiros e a Lucre+
      pelas atividades desempenhadas pelos Criadores relativas aos Produtos dos
      quais são cadastrados como Coprodutores. Ao aceitar estes Termos, os
      Criadores isentam a Lucre+ de responsabilidade por quaisquer danos,
      patrimoniais ou extrapatrimoniais, decorrentes de ações ou omissões
      praticadas pelos Coprodutores, e os Coprodutores isentam a Lucre+ de
      responsabilidade por quaisquer danos, patrimoniais ou extrapatrimoniais,
      decorrentes de ações ou omissões praticadas pelos Criadores.
    </p>

    <p><strong>5.8.1. Tipos de Coprodução:</strong> As coproduções podem ser
      realizadas em formato de Comissionamento ou em formato de Parceria de
      Negócios, cabendo exclusivamente ao Criador decidir qual será aplicável ao
      seu Produto, bem como escolher o Usuário com o qual compartilhará tal
      relação, nos termos abaixo:</p>

    <p><strong>5.8.1.1. Comissionamento</strong>: na coprodução do tipo
      “Comissionamento”, as obrigações perante os Compradores são exclusivas do
      Criador, sendo este quem presta serviços diretamente ao Comprador e,
      portanto, o único beneficiário direto do pagamento feito pelo Comprador em
      decorrência da venda do seus Produtos. O Coprodutor está, portanto,
      prestando um serviço diretamente ao Criador; e</p>

    <p><strong>5.8.1.2. Parceria de Negócio</strong>: na coprodução do tipo
      “Parceria de Negócio” as obrigações perante os Compradores são
      compartilhadas entre o Criador e o Coprodutor, ou seja, ambos estão
      prestando serviços diretamente ao Comprador e, portanto, são reconhecidos
      como beneficiários diretos do pagamento feito pelo Comprador como resultado
      da venda de seus Produtos.</p>

    <p>
      <strong>5.9.2. Atribuições exclusivas de Criador:</strong>
      Independentemente do tipo de coprodução escolhida, os Usuários estão
      cientes que somente o Criador poderá, dentro da Plataforma, realizar as
      atividades gerenciais necessárias e decorrentes do mandato concedido por
      estes Termos, como por exemplo, alterações de preço, oferta, atribuição de
      afiliação, demais coproduções, dentre outras atividades inerentes ao
      titular do Produto. Caberá ao Coprodutor, ao acessar a Plataforma,
      verificar se os dados e informações indicados pelo Criador estão corretos,
      e com ele dirimir eventual divergência e solicitar sua correção, isentando
      a Lucre+ de qualquer responsabilidade.
    </p>

    <p>
      <strong>5.8.3. Divergências entre Criadores e Coprodutores</strong>: Nenhum
      contrato, negociação, ajustes ou acordos estabelecidos entre Criadores e
      seus Coprodutores serão administrados, revisados ou aprovados pela Lucre+.
      Os Usuários são os únicos responsáveis pelas escolhas que fizeram no
      estabelecimento das parcerias comerciais, inclusive no tocante ao modelo
      escolhido, a distribuição de papéis e responsabilidades, tal qual as
      consequências jurídicas, tributárias e econômicas dele decorrentes. A
      Lucre+ não se envolve em divergências entre as Partes, de nenhuma forma, e
      não tem obrigação de intervir na resolução de quaisquer conflitos.
    </p>

    <p>
      <strong>5.9. Colaboradores dos Criadores:</strong> Qualquer Criador ou
      Coprodutor pode convidar Usuários da Plataforma para serem seus
      Colaboradores, desde que esses sejam plenamente capazes, podendo o
      Colaborador fazer a gestão da conta do Criador ou Coprodutor, sem que seja
      necessário o compartilhamento das credenciais de acesso do Criador ou
      Coprodutor à Plataforma. O Colaborador não faz jus a nenhum pagamento a
      ser efetuado pela Lucre+, cabendo aos Criadores, Coprodutores e seus
      respectivos Colaboradores estabelecerem entre si as condições das suas
      relações. Os Criadores e Coprodutores são integral e solidariamente
      responsáveis perante terceiros e perante a Lucre+ pelas atividades
      desempenhadas pelos Colaboradores em sua conta ou relativas aos seus
      Produtos. Ao aceitar estes Termos, os Criadores e Coprodutores isentam a
      Lucre+ de responsabilidade por quaisquer danos, patrimoniais ou
      extrapatrimoniais, decorrentes de ações ou omissões praticadas pelos
      Colaboradores.
    </p>

    <p>
      <strong>5.10. Obrigações perante os Compradores</strong>: Lembramos que,
      quando os Usuários fazem qualquer transação sobre um Produto mediante a
      Plataforma, eles celebram um contrato diretamente um com o outro. Assim,
      entre outros aspectos, o Criador e o Coprodutor são responsáveis (a) por
      garantir que o Comprador se beneficie do Produto tal como lhe foi ofertado
      no momento da compra; (b) pela entrega do Produto ao Comprador; (c) por
      solucionar quaisquer problemas que ocorram com o Produto após a entrega ao
      Comprador, como os problemas técnicos, troca e devolução; (d) por fornecer
      suporte adequado ao Comprador; (e) por responder aos eventuais contatos da
      equipe de suporte da Lucre+ para viabilizar o atendimento adequado aos
      Usuários; e (f) por definir o preço final do Produto que será cobrado do
      Comprador. Em especial, o Criador e o Coprodutor devem respeitar os prazos
      de exercício de direito de arrependimento e de garantia exigidos por lei,
      se aplicáveis, bem como qualquer prazo adicional que oferecer aos
      Compradores, obrigando-se a aceitar eventual solicitação de cancelamento
      da venda e reembolso, troca ou devolução do Produto, por meio da
      Plataforma, ou de seus canais de atendimento e de suporte, quando
      aplicável. Para tanto, o Criador e o Coprodutor desde já autorizam a
      Lucre+ a realizar a dedução dos valores de reembolso devidos por ele a
      qualquer Comprador. A Lucre+ pode deduzir esses valores dos créditos
      existentes ou futuros na conta do Criador e Coprodutor.
    </p>

    <h2>6. AS PRINCIPAIS REGRAS SOBRE O PROGRAMA DE AFILIADOS</h2>

    <p>
      <strong>6.1. Programa de Afiliados:</strong> O Programa de Afiliados da
      Lucre+ possibilita que os Afiliados comercializem um Produto mediante
      remuneração equivalente a um percentual do valor de cada venda que o
      Afiliado promover. Compete ao Criador decidir se deseja participar do
      Programa de Afiliados.
    </p>

    <p>
      <strong>6.1.1. Responsabilidade pelos Afiliados:</strong> O Criador e o
      Coprodutor, em casos de coprodução no modelo de Parceria de Negócio, são
      integralmente responsáveis pela atuação dos Afiliados por ocasião da
      promoção das vendas de seu Produto. Se qualquer Afiliado adotar condutas
      inadequadas, ou praticar ações ou omissões contrárias a estes Termos ou às
      Políticas da Lucre+, a Lucre+ pode aplicar quaisquer das medidas previstas
      na Seção 10 destes Termos, de maneira isolada ou cumulativa, em desfavor
      do Afiliado, do Criador, do seu Produto ou de todos. São consideradas
      condutas inadequadas dos Afiliados, entre outras, os seguintes exemplos:
      (a) a mudança da narrativa de vendas do Produto; (b) a prestação de
      informações falsas, incompletas ou imprecisas sobre quaisquer
      características do Produto; (c) a prática de <em>spam</em> ou qualquer
      prática que a Lucre+ entender nociva ao mercado de afiliação ou ao
      Programa de Afiliados.
    </p>

    <p>
      <strong>6.1.2. Práticas Vedadas aos Criadores:</strong> Qualquer repasse de
      remuneração aos Afiliados deve se dar exclusivamente por meio da
      Plataforma. O Criador não pode criar outros mecanismos de pagamento de
      comissão, compensação, bonificação, pagamento direto ou remuneração a
      qualquer título realizados fora da Plataforma. O Criador também não pode
      exigir como requisitos para aceitar candidatos ou mantê-los como Afiliados
      que (a) atinjam metas, (b) comprem previamente qualquer Produto ou (c)
      paguem qualquer valor ao Criador.
    </p>

    <p>
      <strong>6.1.3. Comunicação:</strong> O Criador deve comunicar ao Afiliado
      ou à sua rede de Afiliados, com antecedência mínima de 03, 30, 60 ou 90
      dias, conforme sua escolha, todas as condições de afiliação e qualquer
      mudança que fizer sobre as regras aplicáveis à afiliação como, por
      exemplo, a sua interrupção ou mudanças nos percentuais de comissão, salvo
      se ficar demonstrado o descumprimento, pelo Afiliado, das regras
      previamente estabelecidas.
    </p>

    <p>
      <strong>6.2. Regras de Afiliação:</strong> Ao aderir ao Programa de
      Afiliados, o Criador deve observar as determinações mínimas estabelecidas
      nestes Termos, sendo de atribuição exclusiva do Criador: (a) determinar o
      percentual devido ao Afiliado pela venda de cada Produto; (b) estabelecer
      os critérios de participação do Programa de Afiliados para seus Produtos;
      (c) aceitar ou recusar os candidatos inscritos, conforme critérios
      previamente estabelecidos; (d) definir as formas e limitações de
      divulgação do Produto; e (d) fazer a gestão de sua rede de Afiliados. A
      Lucre+ se reserva o direito de limitar o número de Afiliados de
      determinado Produto ou Criador, bem como o direito de acrescentar deveres
      e obrigações aos Criador e Afiliados adicionais aos previstos nestes
      Termos, a qualquer tempo, com ou sem aviso prévio. Na hipótese de conflito
      entre as regras estabelecidas pelos Criador e as condições destes Termos,
      estes últimos devem sempre prevalecer.
    </p>

    <p>
      <strong>6.3. Processo de Afiliação:</strong> O Afiliado deve apresentar
      candidatura para afiliação a determinado Produto específico. O Criador
      pode aceitá-la ou recusá-la com base em seus critérios previamente
      definidos, salvo nos casos em que a afiliação não esteja condicionada à
      prévia aprovação. Ao submeter a sua candidatura, o Afiliado concorda com
      todas as regras estabelecidas pelo Criador, inclusive com relação aos
      valores e às regras de divisão da comissão pela venda do Produto, que são
      determinadas exclusivamente pelo Criador, sem a participação de
      Coprodutor(es) ou da Lucre+. O Afiliado deve levar em conta todas as
      condições, gerais e específicas, da Lucre+ e do Criador, antes de decidir
      se engajar na promoção de um determinado Produto.
    </p>

    <p>
      <strong>6.4. Condição de Afiliado:</strong> A afiliação a um Produto não
      estabelece qualquer relação entre o Afiliado e a Lucre+ além daquela de
      Usuário. O Afiliado não pode praticar qualquer ação ou omissão que, direta
      ou indiretamente, o identifique com a Lucre+ ou possa sugerir vínculo de
      qualquer outra natureza com a Lucre+, seja pelo uso indevido da marca ou
      de qualquer outra propriedade intelectual da Lucre+, seja pela descrição
      de cargos ou relação profissional, ou por qualquer outro meio. Por
      exemplo, o Afiliado não pode criar perfis em redes sociais, de cunho
      pessoal ou profissional, se apresentando como “vendedor da Lucre+” ou
      “agente da Lucre+”.
    </p>

    <p>
      <strong>6.5. Divulgação e Comercialização dos Produtos:</strong> O Afiliado
      é responsável por reproduzir ao público para o qual divulgar o Produto
      todas as características do Produto e as condições de venda inseridas pelo
      Criador na Plataforma. O Afiliado assume perante o Comprador
      responsabilidade solidária com o Criador pelo cumprimento integral das
      condições de venda.
    </p>

    <p>
      <strong>6.6. Sub-Afiliação ou Marketing Multinível:</strong> O Afiliado não
      pode criar ou praticar, direta ou indiretamente, qualquer forma de revenda
      ou sub-afiliação, de marketing multinível ou dinâmicas similares.
    </p>

    <h2>7. A EXPERIÊNCIA DE COMPRA DO COMPRADOR</h2>

    <p>
      <strong>7.1. Responsabilidade pela Experiência do Comprador:</strong> Os
      Serviços da Lucre+ podem ser utilizados por qualquer Criador
      individualmente ou em conjunto com outro Coprodutor. A Lucre+ também preza
      pela autonomia das pessoas, acreditando que seus Usuários devem ter o
      poder de decisão sobre quais Produtos desejam adquirir. Por isso, a Lucre+
      não se obriga a fazer controle prévio (editorial ou de qualquer outra
      natureza) ou curadoria dos Produtos. A Lucre+ pode fazer verificações
      sobre o cadastro dos Produtos, mas não é capaz de determinar se os
      Produtos observam todas as determinações legais, se são adequados para os
      fins a que se propõem, nem é capaz de determinar a veracidade, a exatidão
      e a completude das informações prestadas pelos Criadores e Coprodutores.
      Ao adquirir algum Produto, o Comprador deve verificar a adequação do
      Produto e do Criador e Coprodutor aos fins buscados por ocasião da compra,
      bem como a veracidade das demais informações e características prestadas
      em relação ao Produto. Além disso, o Comprador assume voluntariamente
      todo e qualquer risco associado à aquisição do Produto. Isso inclui o
      risco de ser exposto a assunto ou mercadoria que considere ofensivo,
      indecente ou censurável, ou de que o conteúdo do Produto veiculado possa
      resultar em efeitos danosos ou adversos, físicos ou mentais, pelos quais o
      Comprador assume total responsabilidade. No caso da ocorrência dos casos
      anteriores, o Usuário tem a obrigação de comunicar a Lucre+ para que
      avalie a suspensão da venda de tal produto ou serviço.
    </p>

    <p>
      <strong>7.2. Diligência sobre as Informações Prestadas:</strong> O
      Comprador é integralmente responsável por todas as informações que prestar
      e pelas declarações que fizer aos Criadores ou a qualquer outra pessoa por
      ocasião do uso da Plataforma, em razão da compra ou em decorrência do uso
      de qualquer Produto.
    </p>

    <h2>8. A REMUNERAÇÃO DA Lucre+</h2>

    <p>
      <strong>8.1. Taxas do Criador e Coprodutor:</strong> O uso pelo Criador e
      pelo Coprodutor do modelo “Parceria de Negócio”, dos recursos que a
      Plataforma disponibiliza, está sujeito ao pagamento das Taxas de Licença e
      de Serviço, que são cobradas por ocasião da venda de cada Produto, no
      momento em que a transação é aprovada, e deduzidas do valor final cobrado
      pelo Criador e/ou Coprodutor do modelo “Parceria de Negócio” de cada
      Comprador. Essas taxas, seus respectivos meios de pagamento, faturamento e
      tipo de pagamento estão estabelecidos na proposta comercial emitida para
      cada Usuário da Lucre+, e podem ser alteradas a qualquer tempo, a critério
      da Lucre+, mediante notificação prévia.
    </p>

    <p>
      <strong>8.2. Taxas do Afiliado e Comprador:</strong> Os Compradores e
      Afiliados podem acessar e usar os serviços da Lucre+ gratuitamente. Os
      Afiliados prestam serviços exclusivamente aos Criadores e Coprodutores,
      quando aplicável. No entanto, a Lucre+ pode cobrar valores decorrentes de
      operações financeiras realizadas por esses Usuários, como a antecipação de
      recebíveis solicitada por Afiliado, ou o parcelamento ou uso de diferentes
      meios de pagamento por Comprador.
    </p>

    <h2>9. LIMITES DE RESPONSABILIDADE DA LUCRE+</h2>

    <p>
      <strong>9.1. Limites da Responsabilidade da Lucre+:</strong> Lembramos que,
      ao usar a Plataforma como Criador, Coprodutor, Afiliado ou Comprador, você
      é um contratante dos serviços prestados pela Lucre+. A Lucre+ não cria,
      elabora, controla, endossa, vende ou fornece qualquer Produto para você.
      Os Criadores e os Coprodutores são os totalmente responsáveis pelo Produto
      e pelas informações que lhe são inerentes. Ao aceitar estes Termos e usar
      a Plataforma, você o faz voluntariamente. Por isso, excetuadas as
      hipóteses de responsabilidade determinadas por lei, a Lucre+ não responde
      por danos de qualquer natureza decorrentes do acesso ou uso da Plataforma,
      sejam patrimoniais ou extrapatrimoniais, diretos ou indiretos, prejuízos
      efetivos ou lucros cessantes. A Lucre+ não responde, a título
      exemplificativo e não exaustivo, por: (a) danos decorrentes da
      inadequação dos Produtos aos fins a que se destinam; (b) danos
      decorrentes de defeitos ou vícios de qualidade ou quantidade dos Produtos;
      (c) danos decorrentes de riscos relativos ao uso de Produto, inclusive
      potencial nocividade ou periculosidade; (d) reclamações decorrentes de
      insatisfações pela baixa qualidade dos Produtos; (e) danos decorrentes de
      erro, incompletude, inverdade ou inadequação de informações prestadas na
      divulgação de Produto mediante recursos disponibilizados pela Plataforma;
      (f) danos relacionados à prazo e forma de entrega, troca, devolução e/ou
      extravio dos Produtos, (g) danos decorrentes do descumprimento, pelos
      Usuários, dos seus deveres legais ou contratuais perante outros Usuários;
      (h) danos decorrentes de erro, incompletude, inverdade ou inadequação de
      informações prestadas durante o processamento de transações de pagamento;
      (i) danos decorrentes dos Serviços de Terceiros; (j) danos resultantes dos
      serviços de terceiros no processamento de conversão e saque de moeda; (k)
      danos decorrentes do uso indevido da Plataforma por terceiros ou Usuários,
      sejam Criadores, Coprodutores, Afiliados ou Compradores, a que título for,
      especialmente em caso de divulgação em outras plataformas de Produtos
      previamente adquiridos; (l) danos decorrentes dos materiais, informações
      ou conteúdos publicados em sites de terceiros, tampouco pela
      disponibilidade destes sites, competindo ao Usuário usar seu próprio
      discernimento, precaução e senso comum ao acessar sites de terceiros,
      devendo conferir as respectivas políticas de privacidade e os termos de
      uso aplicáveis; (m) danos decorrentes de dificuldades técnicas ou falhas
      nos sistemas, servidores ou na internet; (n) danos decorrentes de ataques
      de vírus ao equipamento do Usuário ocorridos durante o uso da Plataforma,
      ou como consequência da transferência de dados, arquivos, imagens, textos
      ou áudio ou (o) danos decorrentes da disponibilização não autorizada de
      Produtos, no todo ou em parte, na Plataforma ou outras páginas e
      aplicativos de internet, por Usuários ou por terceiros, em razão de
      atividades de pirataria, tais como, mas não limitadas à cópia,
      <em>download</em> indevido, modificação, reprodução, distribuição,
      armazenamento, transmissão, venda, revenda e engenharia reversa de
      conteúdos.
    </p>

    <p>
      <strong>9.2. Exclusão da Lucre+ do Polo Passivo de Eventual Disputa:</strong
      > Ao aceitar estes Termos, você desde já concorda com a exclusão da Lucre+
      do polo passivo de qualquer tipo de reclamação ou processo, judicial ou
      extrajudicial, que (i) você iniciar contra outros Usuários ou terceiros
      e/ou (ii) você receber de outros Usuários ou terceiros, a respeito do uso
      da Plataforma e/ou relacionado aos seus Produtos. Essa exclusão também se
      aplica em favor dos sócios da Lucre+, dos seus controladores, das suas
      sociedades controladas ou coligadas, dos seus administradores, diretores,
      gerentes, empregados, agentes, colaboradores, representantes e
      procuradores.
    </p>

    <h2>10. INFRAÇÕES AOS TERMOS E ÀS POLÍTICAS DA LUCRE+</h2>

    <p>
      <strong>10.1. Infrações aos Termos:</strong> Se você deixar de observar
      qualquer condição destes Termos ou de qualquer Política da Lucre+, total
      ou parcialmente, a Lucre+ pode aplicar diferentes medidas, a seu exclusivo
      critério, de forma isolada ou cumulativa, com ou sem prévio aviso, a
      qualquer tempo e pelo período que lhe aprouver. Entre essas medidas, sem
      prejuízo de outras não previstas nestes Termos, a Lucre+ pode aplicar: (a)
      advertência;(b) retirada da disponibilidade do produto para venda;(c)
      limitação de acesso, suspensão ou desligamento do Programa de Afiliados;
      (d) limitação de acesso, suspensão ou encerramento de qualquer benefício
      ou categoria especial oferecida pela Plataforma relacionada ao Criador e
      Coprodutor, à sua conta, ou a determinado Produto; (e) rebaixamento de
      categoria de Usuário; (f) limitação, suspensão ou encerramento de acesso a
      alguma funcionalidade especial da Plataforma; (g) remoção da página do
      vendas; (i) limitação de acesso, suspensão, bloqueio ou remoção de
      Produto, comentário, avaliação, conta ou Usuário; ou (j) encerramento
      deste Contrato.
    </p>

    <p>
      <strong>10.2. Medidas Preventivas:</strong> A Lucre+ pode, a seu critério,
      adotar medidas preventivas para averiguar possíveis infrações aos Termos ou
      às Políticas da Lucre+, ou se entender ser necessário para proteger
      interesses próprios ou de terceiros. Essas medidas podem durar o tempo
      necessário para que eventual correção ou verificação seja feita, ou até a
      Lucre+ decidir pelo encerramento ou não dos Serviços da Lucre+, ou pela
      aplicação de outras medidas. As medidas preventivas podem resultar na
      suspensão temporária dos Serviços da Lucre+ a determinado Produto ou
      Usuário. Nessa hipótese, durante todo o período de suspensão, a Lucre+
      pode alterar ou retirar o acesso total ou parcial de algumas
      funcionalidades da conta do Usuário, dentre as quais, a título
      exemplificativo: (a) a Lucre+ pode suspender a remessa de valores
      transacionados oriundos de vendas realizadas mediante a Plataforma, ou
      impedir o Usuário de realizar qualquer resgate de valores acumulados na
      sua conta, conforme a Política de Pagamento da Lucre+; ou (b) a Lucre+
      pode impedir o Usuário de alterar dados cadastrais, dados bancários e os
      Produtos cadastrados. A Lucre+ também pode cancelar links de vendas e
      ofertas ativas em caso de suspensão dos Serviços da Lucre+. Nessas
      hipóteses, o Usuário não tem direito a indenização de quaisquer danos,
      patrimoniais ou extrapatrimoniais, decorrentes das medidas preventivas
      aplicadas pela Lucre+.
    </p>

    <p>
      <strong>10.3. Outras Medidas Judiciais ou Extrajudiciais:</strong> A Lucre+
      pode adotar quaisquer outras medidas, judiciais ou extrajudiciais, que
      entender cabíveis, em nome próprio, dos Usuários ou mediante terceiros
      legitimados, sem prejuízo da adoção isolada ou cumulativa das outras
      mencionadas nos itens anteriores.
    </p>

    <h2>11. SUSPENSÃO OU ENCERRAMENTO DOS SERVIÇOS DA LUCRE+</h2>

    <p>
      <strong>11.1. Suspensão ou Encerramento dos Serviços da Lucre+:</strong> Os
      valores e princípios da Lucre+ são amparados no respeito ao próximo e à
      liberdade, e estamos sempre empenhados em facilitar o empreendedorismo, o
      conhecimento e a educação para que mais pessoas atinjam desenvolvimento
      pessoal e profissional. Por isso, a Lucre+ se reserva o direito de tomar
      diversas ações destinadas a proteger a Plataforma ou nossa comunidade,
      mediante requerimento justificado de terceiro, por iniciativa própria ou
      em nome dos Usuários. Essas medidas podem incluir suspender ou interromper
      a prestação de Serviços, encerrar a licença de uso concedida a Usuário,
      tornar Produto indisponível, removê-lo da Plataforma, bem como quaisquer
      outras medidas previstas ou não na Seção 10 destes Termos. A Lucre+ pode
      decidir tomar essas e outras medidas a qualquer tempo, com ou sem aviso
      prévio, de modo isolado ou cumulativo. Qualquer decisão da Lucre+ a esse
      respeito ocorrerá a seu exclusivo critério, por motivos que podem
      incluir: (a) a inobservância destes Termos ou das Políticas da Lucre+; (b)
      a prática de ato que contrarie de alguma maneira os valores ou princípios
      da Lucre+; (c) qualquer conduta, praticada dentro ou fora da Plataforma,
      que possa impactar negativamente a Lucre+, ou que possa levar a empresa ou
      seus negócios a descrédito público, desonra, escândalo ou ridículo. O fato
      de qualquer Produto ou Usuário ter sido habilitado anteriormente durante o
      processo de verificação cadastral não impede a Lucre+ de tomar as medidas
      que julgar adequadas, quando entender cabível. Ao aceitar estes Termos,
      você reconhece que não tem direito a indenização de qualquer dano,
      patrimonial ou extrapatrimonial, se a Lucre+ adotar qualquer medida
      baseada em lei, nestes Termos ou nas Políticas da Lucre+, inclusive se
      você tiver seu cadastro ou qualquer Produto recusado, se tiver o acesso à
      sua conta suspenso ou interrompido, se a Lucre+ encerrar a licença
      conferida a você para uso da Plataforma, ou se você tiver um Produto
      removido da Plataforma ou tornado indisponível.
    </p>

    <p>
      <strong>11.2. Encerramento Imotivado:</strong> Ao aceitar este Contrato, a
      Lucre+ lhe concede automaticamente uma licença de uso não exclusiva da
      Plataforma, por prazo indeterminado. Desse modo, a Lucre+ pode encerrar
      este Contrato e a respectiva licença de uso a qualquer momento, a critério
      da Lucre+, mediante o envio de notificação com 30 dias de antecedência
      para o endereço de e-mail que você registrar na sua conta.
    </p>

    <p>
      <strong>11.3. Encerramento Motivado:</strong> A Lucre+ pode encerrar este
      Contrato imediatamente, sem aviso prévio, (a) se você violar estes Termos
      ou quaisquer condições das Políticas da Lucre+; (b) para prevenir fraudes;
      (c) para impedir a ocorrência ou o agravamento de danos a si ou a
      terceiros; ou (d) em razão de estrito cumprimento de dever legal, por
      decisão judicial ou determinação de órgão governamental ou agência
      regulatória.
    </p>

    <p>
      <strong>11.3.1. Encerramento Imediato por Condutas Inadequadas</strong>: A
      Lucre+ leva a integridade da comunidade que usa a Plataforma muito a
      sério. Assim, a Lucre+ pode aplicar quaisquer das medidas previstas na
      Seção 10 destes Termos, ou, se entender necessário, pode inclusive
      encerrar este Contrato imediatamente, total ou parcialmente, sem aviso
      prévio, (a) se você receber repetidamente avaliações ou comentários
      negativos; (b) se a Lucre+ tomar ciência de reclamações sobre conduta
      inapropriada sua praticada de maneira reiterada ou contumaz; (c) se o seu
      Produto ou se você, como Criador ou Coprodutor, receber um volume de
      reclamações nos canais de atendimento, de solicitações de cancelamento,
      troca, devolução ou de estorno que a Lucre+ entender incompatível com a
      qualidade que se espera de Usuários ou Produtos cadastrados na Plataforma;
      (d) se você, como Criador, Coprodutor ou Afiliado, deixar de prestar
      suporte aos Compradores; (e) se você se recusar a corrigir, incluir ou
      excluir informação relevante sobre o Produto ou sobre você mesmo na
      Plataforma; (f) se os índices de <em>chargebacks</em>, reclamações e
      contestações referentes às transações de pagamento do seu produto ou de
      sua conta, atingirem ou ultrapassarem as referências adotadas pelas
      principais bandeiras e demais participantes dos arranjos de pagamentos. O
      percentual limite utilizado pelo mercado, e pela Lucre+, é de 0,9% (zero
      ponto nove por cento). A Lucre+ também pode recusar a comercialização de
      produtos pertencentes à nichos que possuam, historicamente, altos índices
      de
      <em>chargebacks</em>, reclamações e contestações, bem como encerrar o
      contrato definitivamente se houver insistência e reincidência na
      comercialização desses produtos; (g) se você fornecer informações
      incompletas, desatualizadas, incorretas, fraudulentas ou imprecisas em seu
      processo de cadastro, sobre o Produto ou para receber atendimento pela
      Lucre+; e (h) se você fizer algo nocivo ou prejudicial à Lucre+ e a Lucre+
      entender que o encerramento do Contrato seja medida necessária, em bases
      razoáveis, para proteger a saúde, a segurança, a reputação, a honra e os
      direitos da Lucre+, de seus empregados, colaboradores, investidores,
      sócios, administradores, dos seus Usuários ou de terceiros afetados por
      ação ou omissão que você praticar.
    </p>

    <p>
      <strong>11.4. Efeitos do Encerramento:</strong> Se a Lucre+ encerrar este
      Contrato, interrompendo a prestação dos Serviços da Lucre+, em qualquer
      modalidade e por qualquer razão, você deve observar as condições a seguir:
    </p>

    <p>
      <strong>11.4.1. Acesso à Conta Lucre+:</strong> Se este Contrato for
      encerrado, você não terá direito a uma restauração da sua conta na
      Plataforma, nem à manutenção dos seus Produtos na Plataforma. Você também
      não poderá registrar uma nova conta na Plataforma, nem acessar ou usar a
      Plataforma através da conta de outro Usuário.
    </p>

    <p>
      <strong>11.4.2. Fornecimento de Dados Pessoais:</strong> A Lucre+ não é
      obrigada a fornecer aos Usuários dados adicionais aos quais eles já tenham
      acesso em decorrência do uso regular da Plataforma, em observância da
      <a href="/politica-de-privacidade">Política de Privacidade</a>.
    </p>

    <p>
      <strong>11.4.3. Produtos de Assinatura:</strong> A Lucre+ pode, a seu
      critério e pelo tempo que lhe aprouver, continuar processando os
      pagamentos para os Produtos de assinatura, que são os Produtos em que o
      pagamento é feito de forma periódica e sucessiva por meio de débitos na
      fatura de cartão de crédito do Comprador. Em caso de migração dos
      Compradores de um Produto para outra modalidade de pagamento, ou para
      outra plataforma, o Criador e Coprodutor devem providenciar essa
      migração, dentro do prazo que lhe for conferido, com os dados dos Usuários
      aos quais tiver acesso por ocasião do uso da Plataforma. A Lucre+ não
      fornecerá qualquer dado adicional àqueles já disponibilizados ao Criador e
      ao Coprodutor para que a migração seja feita.
    </p>

    <p>
      <strong>11.4.4. Resgate de Saldo da Conta Lucre+:</strong> Se houver saldo
      na conta do Usuário no momento do encerramento do Contrato, os valores
      devem ser transferidos para a conta bancária indicada no cadastro em até
      30 (trinta) dias, após a solicitação de transferência.
    </p>

    <p>
      <strong>11.4.5. Reembolso a Compradores Afetados:</strong> Se o
      encerramento do Contrato de um Criador afetar o acesso de Compradores a um
      determinado Produto, a Lucre+ somente se obriga a reembolsar os
      Compradores até o limite do saldo existente na conta de pagamento do
      Criador.
    </p>

    <p>
      <strong>11.4.6. Retenção de Valores pela Lucre+:</strong> Se a Lucre+
      encerrar o Contrato, por qualquer motivo, com um Criador, Coprodutor ou
      Afiliado, a Lucre+ pode reter um montante do saldo do Criador, Coprodutor
      ou Afiliado na Plataforma por período de até 180 (cento e oitenta) dias
      contados a partir da última transação realizada. Essa retenção deve ter
      como finalidade assegurar os direitos de regresso e compensação da Lucre+
      por quaisquer despesas que ela suportar e que sejam de responsabilidade
      dos Criadores, Coprodutores o Afiliados. Após esse período, a Lucre+ deve
      liberar o saldo na conta bancária de cadastro do Criador, Coprodutor ou
      Afiliado.
    </p>

    <p>
      <strong>11.4.7. Suporte aos Usuários após o Encerramento:</strong> O
      suporte ao Criador e ao Coprodutor e o respectivo acesso ao gerente de
      conta, serão automaticamente encerrados com o encerramento do Contrato.
      Havendo necessidade, os Usuários interessados devem endereçar quaisquer
      dúvidas ou problemas remanescentes ou decorrentes do encerramento ao
      serviço de suporte ao cliente da Lucre+.
    </p>

    <p>
      <strong>11.4.8. Acordos Específicos com a Lucre+:</strong> Se você tiver
      este Contrato encerrado e tiver algum outro acordo específico pactuado com
      a Lucre+, este outro acordo também será encerrado imediatamente.
    </p>

    <p>
      <strong>11.5. Cláusulas Sobreviventes ao Encerramento:</strong> As Seções
      5, 6, 7 e 9 destes Termos devem sobreviver a qualquer encerramento deste
      Contrato.
    </p>

    <h2>12. MECANISMOS DE DENÚNCIAS E SOLUÇÃO DE DISPUTAS</h2>

    <p>
      <strong>12.1. Mecanismos de Denúncias</strong>: A Lucre+ tem 2 (dois)
      canais para que quaisquer interessados possam reportar violação de
      direitos e outras irregularidades na Plataforma, inclusive infrações a
      estes Termos e às Políticas da Lucre+, o email
      <a href="mailto:contato@lucremais.digital">contato@lucremais.digital</a>
      e o WhatsApp <a href="https://wa.me/5512991651883">+55(12)99165-1883</a>.
      Essas denúncias são apuradas com rigor, e podem resultar em consequências
      diversas aos envolvidos. Por isso, é muito importante que o canal de
      atendimento seja utilizado com ética. Em caso de dúvida sobre a ocorrência
      de infração, recomendamos que busque orientação jurídica antes de enviar
      qualquer notificação, além de avaliar se existem formas de provar o que
      pretende informar.
    </p>

    <p>
      <strong>12.2. Denúncias sobre violação a direitos de propriedade
        intelectual:</strong
      > Se a sua denúncia for relativa a violação de direitos de propriedade
      intelectual, você deve seguir todas as orientações dos canais, incluindo o
      compartilhamento de informações capazes de provar os fatos denunciados,
      em especial: (a) suas informações de contato, para que possamos nos
      comunicar com você; (b) informações sobre o conteúdo denunciado, com o
      detalhamento do ocorrido e os documentos demonstrativos dos fatos
      narrados, no que for possível; e (c) informações sobre a titularidade dos
      direitos de propriedade intelectual que possam ter sido violados. A
      denúncia deve ser enviada pela pessoa cujos direitos de propriedade
      intelectual foram violados, ou por representante munido de procuração com
      poderes para tanto. A Lucre+ não aceita denúncias enviadas por terceiros.
      Ao encaminhar uma denúncia, o denunciante declara estar ciente e concordar
      que a Lucre+ compartilhará suas informações com o denunciado, e que o
      denunciado poderá contatar o denunciante para esclarecer os fatos e
      dirimir a questão.
    </p>

    <p>
      <strong>12.3. Denúncias sobre divulgação de cenas de nudez ou atos
        sexuais</strong
      >: Se a sua denúncia for relativa a violação da intimidade decorrente da
      divulgação de imagens, de vídeos ou de outros materiais contendo cenas de
      nudez ou de atos sexuais, a Lucre+ promoverá a indisponibilização desse
      conteúdo, no âmbito e nos limites técnicos do seu serviço, de forma
      diligente, em até 10 (dez) dias corridos da data do recebimento pela
      Lucre+ de todas as informações necessárias para que a Lucre+ possa tomar
      essa providência. Para isso, você deve indicar precisamente: (a) a URL
      onde está o material objeto da denúncia; e (b) os meios que possibilitem à
      Lucre+ identificar a vítima no material denunciado, conforme sua
      descrição.
    </p>

    <p>
      <strong>12.4. Providências a serem adotadas pela Lucre+</strong>: Qualquer
      denúncia deve ser encaminhada contendo todas as informações exigidas nos
      itens anteriores. A Lucre+ não iniciará qualquer processo de verificação
      se verificar a ausência de qualquer daquelas informações. Em caso de
      denúncias envolvendo violações de propriedade intelectual, é vedado o
      anonimato.
    </p>

    <p>
      <strong>12.5. Responsabilidade do denunciante</strong>: O envio
      intencional de denúncias falsas ou enganosas pode levar à aplicação de
      qualquer das medidas previstas na Seção 10 destes Termos, inclusive o
      bloqueio definitivo de conta, se o denunciante for Usuário da Plataforma,
      além da sua responsabilidade por danos, de acordo com a legislação
      aplicável. Esclarecemos que denunciantes de má-fé podem ser investigados
      pelas autoridades competentes e que Lucre+ cooperará com as investigações
      oficiais nesse sentido. O denunciante responde integralmente por quaisquer
      danos que causar ao denunciado, à Lucre+ ou a terceiros em razão de
      denúncias infundadas, principalmente nos casos em que a Lucre+, diante da
      denúncia, e a seu exclusivo critério, bloquear preventiva ou
      definitivamente a comercialização ou o acesso a um Produto.
    </p>

    <p>
      <strong>12.6. Processo de Apuração de Denúncias</strong>: Se a Lucre+
      entender que uma denúncia não tem fundamentos ou elementos de prova
      suficientes para iniciar processo interno de apuração, a Lucre+ pode
      arquivar a denúncia e encerrar a ocorrência reportada. Se a Lucre+
      entender que a apuração dos fatos é necessária, e desde que a denúncia não
      tenha trazido elementos e provas incontestáveis sobre a sua procedência,
      ela pode encaminhar a denúncia ao denunciado ou ao responsável pelo
      Produto denunciado, sem prejuízo de a Lucre+ adotar, preventivamente e a
      seu exclusivo critério, quaisquer das medidas previstas na Seção 10 destes
      Termos, de modo isolado ou cumulativo. Se requerido, o denunciado pode
      responder a denúncia em até 5 dias contados do seu encaminhamento pela
      Lucre+. Nesse caso, denunciado deve enviar: (a) informações de contato;
      (b) informações sobre o conteúdo denunciado; (c) informações sobre a
      titularidade dos direitos de propriedade intelectual sobre o Produto
      denunciado, incluindo a documentação comprobatória pertinente; e (d)
      declaração de discordância sobre a denúncia de violação a direitos de
      propriedade intelectual, responsabilizando-se por quaisquer danos causados
      pela continuidade da comercialização ou do acesso ao Produto objeto da
      denúncia.
    </p>

    <p>
      <strong>12.6.1.</strong> A Lucre+ pode iniciar procedimento de
      investigação interna, a qualquer tempo, sempre que entender necessário à
      apuração dos fatos denunciados, sobretudo diante (a) de reclamações cujo
      esclarecimento seja capaz de solucionar a potencial disputa entre os
      Usuários, (b) de fatos que não tenham sido narrados de forma clara, mas que
      tragam indícios de irregularidades praticadas pelo denunciado ou (c) de
      denúncias com inconsistências ou indícios indicativos de má-fé, fraude ou
      dolo do denunciante. Os resultados das investigações internas conduzidas
      pela Lucre+ poderão ser compartilhados com as autoridades competentes,
      sempre que exigido por lei ou necessário. Se o compartilhamento não for
      obrigatório por lei, cabe exclusivamente à Lucre+ definir se irá divulgar
      ou não quaisquer resultados de sua apuração.
    </p>

    <p>
      <strong>12.7. Avaliação das Denúncias pela Lucre+</strong>: Se o
      denunciado não responder a denúncia em 10 (dez) dias, a Lucre+ pode
      aplicar, em caráter definitivo, quaisquer das medidas previstas na Seção
      10 destes Termos, de modo isolado ou cumulativo, se entender cabíveis,
      dando ciência ao denunciante e comunicando as medidas ao Usuário afetado.
      A Lucre+ também pode aplicar quaisquer das medidas previstas na Seção 10
      destes Termos, de modo isolado ou cumulativo, se, diante da resposta do
      denunciado, concluir que houve infração aos Termos, violação de direitos
      ou outras irregularidades praticadas na Plataforma. Se a Lucre+, por si ou
      por terceiros por ela determinados, entender que a questão denunciada é
      razoavelmente controversa, a Lucre+ pode instaurar um procedimento de
      solução de disputas entre os Usuários.
    </p>

    <p>
      <strong>12.8. Solução de Disputas entre Usuários</strong>: Os Serviços da
      Lucre+ são prestados para conectar os Usuários entre si. As disputas que
      surgem dessas relações devem ser resolvidas entre os Usuários
      diretamente, inclusive aquelas relativas à qualidade, às garantias e aos
      aspectos técnicos dos Produtos. Com o intuito de facilitar o diálogo para
      solução de disputas, colocamos à disposição os nossos meios de contato. Uma
      vez acionado, o serviço de suporte pode entrar em contato com os Usuários
      envolvidos numa disputa. Você concorda que deve aplicar seus melhores
      esforços para responder aos chamados do serviço de suporte, com foco na
      solução do problema, no menor tempo possível e dentro dos prazos
      estabelecidos pela Lucre+. Se não for possível a composição entre os
      Usuários acerca de uma disputa, a Lucre+ pode (mas não se obriga a)
      encerrar a disputa mediante decisão própria, pautada na boa-fé e em
      parâmetros de equidade, considerando as regras destes Termos e das
      Políticas da Lucre+. A Lucre+ pode delegar a solução de qualquer disputa a
      terceiros por ela determinados, inclusive mecanismos de
      autorregulamentação. A decisão da Lucre+ a respeito da disputa, ou de quem
      ela designar, deve ser acatada de modo integral e irrecorrível pelos
      Usuários envolvidos.
    </p>

    <p>
      <strong>12.9. Ações Coletivas.</strong> Todos os usuários da Plataforma
      concordam expressamente que <strong>NÃO</strong> podem apresentar uma
      reclamação como queixoso ou membro de uma classe numa ação coletiva,
      consolidada ou representativa, independente do assunto em questão, em
      desfavor à Lucre+. Não são permitidas arbitragens coletivas, ações
      coletivas, ações de procurador-geral privado e consolidação com outras
      arbitragens. O Usuário só poderá resolver litígios contra a Lucre+, ou em
      que a Lucre+ faça parte, individualmente.
    </p>

    <h2>13. DISPOSIÇÕES FINAIS</h2>

    <p>
      <strong>13.1. Foro:</strong> O foro exclusivo será o foro da cidade de São
      José dos Campos, São Paulo, no Brasil.
    </p>

    <p>
      <strong>13.2. Dúvidas:</strong> O site da Lucre+ (<a
        href="https://www.lucremais.digital">www.lucremais.digital</a
      >) é a sua fonte primária com relação a esses Termos, às Políticas da
      Lucre+, aos Serviços da Lucre+ ou a qualquer programa, funcionalidade,
      recurso ou questões em geral relacionados à Plataforma. Nenhum terceiro
      tem o direito ou autorização da Lucre+ para falar em nome dela, e todas as
      práticas estabelecidas ou sugeridas por essas pessoas devem ser
      consideradas não oficiais. Se as informações contidas no site não forem
      suficientes para esclarecer suas dúvidas, entre em contato com o nosso
      suporte.
    </p>
  </main>
</BaseLayout>

<style>
  main {
    margin: 5cqb auto;
    padding: var(--space-xxl);
    line-height: 1.6;
  }
  h1,
  h2,
  h3 {
    margin-top: 6cqb;
    margin-bottom: 2cqb;
  }
  h2 {
    font-size: max(2em, 2cqw);
  }
  p,
  ol {
    margin-bottom: 1rem;
  }
  ol {
    padding-left: 2rem;
  }
  a {
    color: var(--accent-color, #007bff); /* Fallback color */
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>