---
import ServiceBlock from "./ServiceBlock.astro";

interface Props {
  mainTitle: string;
  mainParagraph: string;
}

const { mainTitle, mainParagraph } = Astro.props;
---

<section class="services-section">
  <div class="services-grid">
    <div class="main-content-wrapper">
      <h1>{mainTitle}</h1>
      <h2>{mainParagraph}</h2>
    </div>
    <div class="block block-1">
      <span class="step">1</span>
      <div class="service-content">
        <h3>Entrevista do negócio</h3>
        <p class="service-description">
          A Lucre+ preza por atender negócios que tenham alinhamento com nossos
          critérios de faturamento, área de atuação e forma de funcionamento.
          <br />
          Assim entrevistamos cada um dos negócios para avalia a viabilidade da parceria.
        </p>
      </div>
    </div>
    <div class="block block-2">
      <span class="step">2</span>
      <div class="service-content">
        <h3>Configurações e integrações</h3>
        <p class="service-description">
          Após a entrevista do negócio, em caso de aprovação, nosso time fará
          toda a configuração das suas páginas de vendas, pixels e integração
          com as plataformas de interesse para o seu negócio.
        </p>
      </div>
    </div>
    <div class="block block-3">
      <span class="step">3</span>
      <div class="service-content">
        <h3>Venda com as melhores taxas</h3>
        <p class="service-description">
          Após a etapa de configuração concierge você já poderá realizar a suas
          vendas com as melhores taxas, melhor aprovação nas vendas e com todas
          as praticidades que oferecemos
        </p>
      </div>
    </div>
    <div class="block-4">
      <h2>Não perca tempo!</h2>
      <button class="primary" onclick="window.location.href='https://api.whatsapp.com/send?phone=12982823850'">Lucre mais agora</button>
    </div>
  </div>
</section>

<style>
  .block h3 {
    font-size: clamp(1.6em, 2.8vw, 4rem);
    margin-bottom: 0.5em;
    color: var(--color-button-text);
    position: relative;
    z-index: 2;
    width: min(13ch, 100cqw);
  }
  /* Estilos da Seção Serviços */
  .services-section {
    color: var(--color-button-text);
    text-align: left;
    margin-top: clamp(6rem, 5cqw, 14rem);
  }
  .services-section h1 {
    margin-bottom: 2cqw;
    margin-top: -4cqw;
  }
  .services-section .main-content-wrapper h2 {
    font-size: max(1.2em, 1.6cqw);
    font-weight: var(--font-weight-normal);
    margin-bottom: 3cqb;
    font-family: "Inter", system-ui, sans-serif;
  }
  .main-content-wrapper {
    grid-area: main-content;
    margin-top: 2cqw;
  }
  .services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colunas */
    grid-template-rows: repeat(4, 0.64fr); /* 4 linhas */
    grid-template-areas:
      "main-content main-content block-1 block-1 block-1 block-1"
      "block-2 block-2 block-1 block-1 block-1 block-1"
      ". block-3 block-3 block-3 block-4 block-4"
      ". block-3 block-3 block-3 block-4 block-4";
    gap: 3cqb;
  }
  .block {
    position: relative;
    background-color: hsla(220, 16%, 14%, 0.92);
    background-size: cover;
    background-position: center;
    border: var(--border);
    border-radius: clamp(1rem, 1.2cqw, 8rem);
    text-align: left;
    color: var(--color-button-text);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 0.5em;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.2);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    cursor: pointer;
    container-type: inline-size;
  }
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: clamp(-3rem, -1.2vw, -1rem);
    left: clamp(-3rem, -1.2vw, -1rem);
    right: 0;
    bottom: 0;
    font-family: inter, sans-serif;
    font-size: max(1.8em, 2.8vw);
    font-weight: var(--font-weight-bold);
    border: 0.16vw solid hsl(218 100% 60% / 1);
    border-radius: 50%;
    padding: 0.1cqw 0.1cqw 0.1cqw 0cqw;
    width: clamp(3rem, 4vw, 12rem);
    height: clamp(3rem, 4vw, 12rem);
    background-color: var(--color-blue);
    z-index: 4;
  }
  .block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: clamp(1rem, 1.5cqw, 8rem);
    padding: 0.1cqw;
    background: linear-gradient(
      45deg,
      hsl(40, 59%, 27%) 0%,
      hsl(40, 64%, 52%) 40%,
      hsl(40, 68%, 69%) 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0; /* Escondido por padrão */
    transition: opacity 0.3s ease;
    z-index: 4; /* Atrás do conteúdo do card */
  }
  .block:hover {
    transform: translateY(-0.1px);
    box-shadow:
      0 0 2cqw hsla(51, 100%, 50%, 0.1),
      0 0 2cqw hsla(51, 100%, 50%, 0.1),
      0 0.1cqw 0.5cqw hsl(0, 0%, 0%, 0.5),
      inset 0 0 0.02cqw 0.1cqw hsla(51, 100%, 50%, 0.5);
  }
  .block:hover::before {
    opacity: 1;
  }
  .block-1 {
    grid-area: block-1;
    background-image: url(/entrevista.png);
  }
  .block-2 {
    grid-area: block-2;
  }
  .block-3 {
    grid-area: block-3;
    background-image: url(/venda.png);
  }
  .block-4 {
    grid-area: block-4;
    display: flex;
    place-content: center;
    flex-direction: column;
    padding: 0 3cqw;
  }
  .block-4 h2 {
    margin-bottom: 2cqw;
  }
  .service-content {
    position: relative;
    padding: clamp(1.3rem, 3vw, 6rem);
    container-type: inline-size;
    width: 100cqw;
    height: 100%;
    place-content: end;
  }
  .service-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      hsla(228, 12%, 6%, 1) 0%,
      hsla(228, 12%, 10%, 0) 100%
    );
    opacity: 0.7;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: clamp(1rem, 1.5cqw, 8rem);
  }
  .block:hover .service-content::after {
    opacity: 1;
    backdrop-filter: blur(1px);
  }
  .service-description {
    font-size: max(1em, 1.3vw);
    line-height: var(--line-height-base);
    width: min(35ch, 100cqw);
    position: relative;
    z-index: 2;
  }
  @media (max-width: 960px) {
    .services-grid {
      display: flex;
      flex-direction: column;
    }
  }
</style>
