<div id="form-modal" class="integrations-modal">
  <div class="integrations-modal-content">
    <span class="integrations-modal-close">&times;</span>
    <form>
      <div class="section">
        <h2>Dados Pessoais</h2>
        <div class="form-group">
          <label for="name">Nome:*</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-field"
            required
          />
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="whatsapp">WhatsApp:*</label>
            <input
              type="text"
              id="whatsapp"
              name="whatsapp"
              class="form-field"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail:*</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-field"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="site">Site:</label>
            <input type="text" id="site" name="site" class="form-field" />
          </div>
          <div class="form-group">
            <label for="instagram">Instagram:</label>
            <input
              type="text"
              id="instagram"
              name="instagram"
              class="form-field"
            />
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Informações da Empresa</h2>
        <div class="form-group">
          <label for="company">Empresa:*</label>
          <input
            type="text"
            id="company"
            name="company"
            class="form-field"
            required
          />
        </div>
        <div class="form-group">
          <label for="role">Cargo ou função:*</label>
          <input
            type="text"
            id="role"
            name="role"
            class="form-field"
            required
          />
        </div>
        <div class="form-group">
          <label for="revenue"
            >Qual é o Faturamento anual da empresa em reais?*</label
          >
          <select id="revenue" name="revenue" class="form-field" required>
            <option value="até 1 Milhão">até 1 Milhão</option>
            <option value="entre 1 Milhão e 2 Milhões"
              >entre 1 Milhão e 2 Milhões</option
            >
            <option value="entre 2 Milhões e 10 Milhões"
              >entre 2 Milhões e 10 Milhões</option
            >
            <option value="entre 10 Milhões e 30 Milhões"
              >entre 10 Milhões e 30 Milhões</option
            >
            <option value="entre 30 Milhões e 50 Milhões"
              >entre 30 Milhões e 50 Milhões</option
            >
            <option value="maior que 50 Milhões">maior que 50 Milhões</option>
          </select>
        </div>
      </div>
      <div class="section">
        <h2>Como podemos ajudar?</h2>
        <div class="form-group">
          <label for="help"
            >Como você gostaria que a Lucre+ ajudasse o seu negócio?</label
          >
          <textarea id="help" name="help" class="form-field"></textarea>
        </div>
        <div class="form-group">
          <label for="priority"
            >Qual o nível de prioridade que gostaria para o seu atendimento:*</label
          >
          <select id="priority" name="priority" class="form-field" required>
            <option value="1">em até uma semana</option>
            <option value="2">até o fim do dia</option>
            <option value="3">até 4 horas</option>
            <option value="4">nos próximos minutos</option>
          </select>
        </div>
      </div>
      <div class="form-actions">
        <button type="button" id="prevBtn" class="secondary"
          >&larr; Anterior</button
        >
        <div class="dots-container">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        <div>
          <button type="button" id="nextBtn" class="primary"
            >Próximo &rarr;</button
          >
          <button type="submit" id="submitBtn" class="primary hidden"
            >Enviar</button
          >
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  .hidden {
    display: none;
  }
  form {
    height: -webkit-fill-available;
    overflow: auto;
  }
  h2 {
    font-size: max(2em, 2.4cqw);
    margin-bottom: var(--space-s);
  }
  .integrations-modal {
    display: none; /* Hidden by default */
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .integrations-modal-content {
    background-color: var(--color-background);
    margin: 5% auto;
    padding: var(--space-m);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 90%;
    max-width: 600px;
    height: 90vh;
    position: relative;
  }

  .integrations-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
  }

  .integrations-modal-close:hover,
  .integrations-modal-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .section:not(:first-child) {
    display: none;
  }

  .form-row {
    display: flex;
    gap: 1rem;
  }

  .form-row .form-group {
    flex: 1;
  }

  .form-group {
    margin-bottom: 2cqb;
  }

  .form-group label {
    display: block;
    margin-bottom: 1cqb;
    font-weight: var(--font-weight-semibold);
  }

  .form-field {
    width: 100%;
    padding: 2cqb;
    border: var(--border);
    border-radius: 0.7cqw;
    background-color: var(--color-background-light);
    color: var(--color-text);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-normal);
    transition: var(--transition-base);
  }

  .form-field:focus {
    outline: none;
    border-color: var(--color-blue);
    box-shadow: 0 0 0 2px var(--color-blue);
  }

  .form-field::placeholder {
    color: var(--color-text);
    opacity: 0.7;
  }

  select.form-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23F5F5DC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
    padding-right: 2.5em;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-l);
  }

  .dots-container {
    display: flex;
    gap: var(--space-xs);
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .dot.active {
    background-color: #717171;
  }
</style>

<script>
  const modal = document.getElementById("form-modal");
  const closeModal = document.querySelector(".integrations-modal-close");
  const sections = document.querySelectorAll(".section");
  const dots = document.querySelectorAll(".dot");
  const prevBtn = document.getElementById("prevBtn");
  const nextBtn = document.getElementById("nextBtn");
  const submitBtn = document.getElementById("submitBtn");
  let currentSection = 0;

  function showSection(sectionIndex) {
    sections.forEach((section, index) => {
      section.style.display = index === sectionIndex ? "block" : "none";
    });
    dots.forEach((dot, index) => {
      dot.classList.toggle("active", index === sectionIndex);
    });
    prevBtn.style.display = sectionIndex === 0 ? "none" : "inline-block";

    // Logic for Next and Submit buttons
    if (sectionIndex === sections.length - 1) {
      nextBtn.style.display = "none"; // Hide Next button on last section
      submitBtn.style.display = "inline-block"; // Show Submit button on last section
    } else {
      nextBtn.style.display = "inline-block"; // Show Next button on other sections
      submitBtn.style.display = "none"; // Hide Submit button on other sections
    }
  }

  prevBtn.addEventListener("click", () => {
    if (currentSection > 0) {
      currentSection--;
      showSection(currentSection);
    }
  });

  nextBtn.addEventListener("click", () => {
    if (currentSection < sections.length - 1) {
      currentSection++;
      showSection(currentSection);
    }
  });

  closeModal.addEventListener("click", () => {
    modal.style.display = "none";
  });

  modal.addEventListener("click", (event) => {
    if (event.target === modal) {
      modal.style.display = "none";
    }
  });

  // Initialize the first section on page load
  showSection(currentSection);

  const form = document.querySelector("form");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const data = Object.fromEntries(new FormData(event.target));
    data.token = "HykZs0UcIzPqDM9ZMZ6HDph9KcwY74mfOp9TB7RXkY23KvOa2Qgy2DpufFrwfoca"; // Exemplo de token

    try {
      const response = await fetch("/api/enviar-form", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }
      );

      if (response.ok) {
        alert("Formulário enviado com sucesso!");
        modal.style.display = "none";
        form.reset();
        currentSection = 0;
        showSection(currentSection);
      } else {
        const errorText = await response.text();
        console.error("Erro no envio do formulário:", response.status, errorText);
        alert(`Ocorreu um erro ao enviar o formulário. Status: ${response.status}`);
      }
    } catch (error) {
      console.error("Erro de rede ou de script:", error);
      alert(`Ocorreu um erro ao enviar o formulário: ${error.message}`);
    }
  });
</script>

