---
export interface Props {
  title: string;
  description: string;
  imagePath: string;
}

const { title, description, imagePath } = Astro.props;
---

<section class="founder-section">
  <div class="founder-content">
    <h2>{title}</h2>
    <div class="description-text" set:html={description} />
  </div>
  <div class="founder-image-container">
    <img src={imagePath} alt={title} />
  </div>
</section>

<style>
  .founder-section {
    background-color: hsla(228, 12%, 10%, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-button-text);
    text-align: center;
    overflow: hidden;
    padding: 8cqb var(--space-xxl) 0;
    border-bottom: 0.2cqw solid hsl(40, 41%, 34%);
    border-top: 0.2cqw solid hsl(40, 41%, 34%);
  }

  .founder-content {
    max-width: 100%;
    margin-bottom: 2em;
  }

  .founder-content h2 {
    font-size: max(2em, 3.8cqw);
    margin-bottom: 1.6cqw;
    font-weight: var(--font-weight-bold);
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
  }

  .founder-content .description-text {
    font-size: max(1.1em, 1.1cqw);
    margin-bottom: 3cqw;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
  .founder-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .founder-image-container img {
    width: max(16rem, 40cqw);
    bottom: 0;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
  }
  .founder-image-container::before {
    content: "";
    background-image: url("/circle-gradient.webp");
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
  }
  @media (min-width: 960px) {
    .founder-section {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      position: relative; /* Added for positioning context */
      padding: 12cqb var(--space-xxl);
    }
    .founder-content {
      max-width: 45%; /* Adjusted max-width */
      margin-bottom: 0;
    }
    .founder-image-container {
      position: absolute; /* Changed to absolute positioning */
      right: 0; /* Position from the right edge */
      bottom: 0; /* Position from the bottom edge */
      width: 55%; /* Adjusted width for the container */
      height: 100%; /* Take full height of the section */
      display: flex;
      justify-content: flex-end; /* Align image to the right */
      align-items: flex-end; /* Align image to the bottom */
    }
    .founder-image-container img {
      width: 35cqw;
      height: auto;
      object-fit: contain;
      position: relative;
      bottom: 0;
      right: 10%;
    }
    .founder-image-container::before {
      bottom: -15%;
      left: 10%;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
</style>
